dpdirect/schemas/download/xml-mgmt-2004-objects.xsd

<?xml version="1.0" encoding="utf-8"?>
<!--
 Licensed Materials - Property of IBM
 IBM WebSphere DataPower Appliances
 Copyright IBM Corporation 2007. All Rights Reserved.
 US Government Users Restricted Rights - Use, duplication or disclosure
 restricted by GSA ADP Schedule Contract with IBM Corp.
 -->
<!--Copyright (c) 2002-2005 DataPower Technology, Inc. All Rights Reserved.-->
<xsd:schema targetNamespace="http://www.datapower.com/schemas/management" xmlns:dp="http://www.datapower.com/schemas/management" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!-- STATUS OBJECTS -->
  <xsd:simpleType name="status-class">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="ActiveUsers" />
      <xsd:enumeration value="ARPStatus" />
      <xsd:enumeration value="AS1PollerSourceProtocolHandlerSummary" />
      <xsd:enumeration value="AS2SourceProtocolHandlerSummary" />
      <xsd:enumeration value="AS3SourceProtocolHandlerSummary" />
      <xsd:enumeration value="AuthCookieCacheStatus" />
      <xsd:enumeration value="B2BGatewaySummary" />
      <xsd:enumeration value="B2BHighAvailabilityStatus" />
      <xsd:enumeration value="B2BMessageArchiveStatus" />
      <xsd:enumeration value="B2BMPCStatus" />
      <xsd:enumeration value="B2BTransactionLog" />
      <xsd:enumeration value="B2BTransactionLog2" />
      <xsd:enumeration value="Battery" />
      <xsd:enumeration value="ChangeGroupRetryQueue" />
      <xsd:enumeration value="ChangeGroups" />
      <xsd:enumeration value="CloudConnectorServiceSummary" />
      <xsd:enumeration value="CloudGatewayServiceSummary" />
      <xsd:enumeration value="ConnectionsAccepted" />
      <xsd:enumeration value="CPUUsage" />
      <xsd:enumeration value="CryptoEngineStatus" />
      <xsd:enumeration value="CryptoEngineStatus2" />
      <xsd:enumeration value="CryptoHwDisableStatus" />
      <xsd:enumeration value="CryptoModeStatus" />
      <xsd:enumeration value="CurrentSensors" />
      <xsd:enumeration value="DateTimeStatus" />
      <xsd:enumeration value="DateTimeStatus2" />
      <xsd:enumeration value="DebugActionStatus" />
      <xsd:enumeration value="DNSCacheHostStatus" />
      <xsd:enumeration value="DNSCacheHostStatus2" />
      <xsd:enumeration value="DNSCacheHostStatus3" />
      <xsd:enumeration value="DNSCacheHostStatus4" />
      <xsd:enumeration value="DNSNameServerStatus" />
      <xsd:enumeration value="DNSNameServerStatus2" />
      <xsd:enumeration value="DNSSearchDomainStatus" />
      <xsd:enumeration value="DNSStaticHostStatus" />
      <xsd:enumeration value="DocumentCachingSummary" />
      <xsd:enumeration value="DocumentCachingSummaryGlobal" />
      <xsd:enumeration value="DocumentStatus" />
      <xsd:enumeration value="DocumentStatusSimpleIndex" />
      <xsd:enumeration value="DomainCheckpointStatus" />
      <xsd:enumeration value="DomainsMemoryStatus" />
      <xsd:enumeration value="DomainsMemoryStatus2" />
      <xsd:enumeration value="DomainStatus" />
      <xsd:enumeration value="DomainSummary" />
      <xsd:enumeration value="DynamicQueueManager" />
      <xsd:enumeration value="DynamicTibcoEMSStatus" />
      <xsd:enumeration value="EBMS2SourceProtocolHandlerSummary" />
      <xsd:enumeration value="EBMS3SourceProtocolHandlerSummary" />
      <xsd:enumeration value="EnvironmentalFanSensors" />
      <xsd:enumeration value="EnvironmentalSensors" />
      <xsd:enumeration value="EthernetCountersStatus" />
      <xsd:enumeration value="EthernetInterfaceStatus" />
      <xsd:enumeration value="EthernetMAUStatus" />
      <xsd:enumeration value="EthernetMIIRegisterStatus" />
      <xsd:enumeration value="FailureNotificationStatus" />
      <xsd:enumeration value="FailureNotificationStatus2" />
      <xsd:enumeration value="FibreChannelHBAStatus" />
      <xsd:enumeration value="FibreChannelTargetStatus" />
      <xsd:enumeration value="FilePollerStatus" />
      <xsd:enumeration value="FilesystemStatus" />
      <xsd:enumeration value="FirmwareStatus" />
      <xsd:enumeration value="FirmwareVersion" />
      <xsd:enumeration value="FirmwareVersion2" />
      <xsd:enumeration value="FTPFilePollerSourceProtocolHandlerSummary" />
      <xsd:enumeration value="FTPServerSourceProtocolHandlerSummary" />
      <xsd:enumeration value="GatewayTransactions" />
      <xsd:enumeration value="HNAppStats" />
      <xsd:enumeration value="HNPurgeStatus" />
      <xsd:enumeration value="HNViewCacheResult" />
      <xsd:enumeration value="HSMKeyStatus" />
      <xsd:enumeration value="HTTPConnections" />
      <xsd:enumeration value="HTTPConnectionsCreated" />
      <xsd:enumeration value="HTTPConnectionsDestroyed" />
      <xsd:enumeration value="HTTPConnectionsOffered" />
      <xsd:enumeration value="HTTPConnectionsRequested" />
      <xsd:enumeration value="HTTPConnectionsReturned" />
      <xsd:enumeration value="HTTPConnectionsReused" />
      <xsd:enumeration value="HTTPMeanTransactionTime" />
      <xsd:enumeration value="HTTPMeanTransactionTime2" />
      <xsd:enumeration value="HTTPServiceSummary" />
      <xsd:enumeration value="HTTPSourceProtocolHandlerSummary" />
      <xsd:enumeration value="HTTPSSourceProtocolHandlerSummary" />
      <xsd:enumeration value="HTTPTransactions" />
      <xsd:enumeration value="HTTPTransactions2" />
      <xsd:enumeration value="Hypervisor" />
      <xsd:enumeration value="Hypervisor2" />
      <xsd:enumeration value="IGMPStatus" />
      <xsd:enumeration value="IMSConnectSourceProtocolHandlerSummary" />
      <xsd:enumeration value="IMSConnectstatus" />
      <xsd:enumeration value="IPAddressStatus" />
      <xsd:enumeration value="IPMISelEvents" />
      <xsd:enumeration value="IPMulticastStatus" />
      <xsd:enumeration value="IScsiHBAStatus" />
      <xsd:enumeration value="IScsiInitiatorStatus" />
      <xsd:enumeration value="IScsiTargetStatus" />
      <xsd:enumeration value="IScsiVolumeStatus" />
      <xsd:enumeration value="KerberosTickets" />
      <xsd:enumeration value="KerberosTickets2" />
      <xsd:enumeration value="LDAPPoolEntries" />
      <xsd:enumeration value="LDAPPoolSummary" />
      <xsd:enumeration value="LibraryVersion" />
      <xsd:enumeration value="LicenseStatus" />
      <xsd:enumeration value="LinkAggregationMemberStatus" />
      <xsd:enumeration value="LinkAggregationStatus" />
      <xsd:enumeration value="LinkStatus" />
      <xsd:enumeration value="LLMInstanceStatus" />
      <xsd:enumeration value="LLMPolicySummary" />
      <xsd:enumeration value="LLMSelectionStatus" />
      <xsd:enumeration value="LLMSourceProtocolHandlerSummary" />
      <xsd:enumeration value="LoadBalancerStatus" />
      <xsd:enumeration value="LoadBalancerStatus2" />
      <xsd:enumeration value="LogTargetStatus" />
      <xsd:enumeration value="LunaLatency" />
      <xsd:enumeration value="MemoryStatus" />
      <xsd:enumeration value="MessageCountFilters" />
      <xsd:enumeration value="MessageCounts" />
      <xsd:enumeration value="MessageDurationFilters" />
      <xsd:enumeration value="MessageDurations" />
      <xsd:enumeration value="MessageSources" />
      <xsd:enumeration value="MQConnStatus" />
      <xsd:enumeration value="MQFTESourceProtocolHandlerSummary" />
      <xsd:enumeration value="MQQMstatus" />
      <xsd:enumeration value="MQSourceProtocolHandlerSummary" />
      <xsd:enumeration value="MQStatus" />
      <xsd:enumeration value="MultipathStatus" />
      <xsd:enumeration value="MultiProtocolGatewaySummary" />
      <xsd:enumeration value="NDCacheStatus" />
      <xsd:enumeration value="NDCacheStatus2" />
      <xsd:enumeration value="NetworkInterfaceStatus" />
      <xsd:enumeration value="NetworkReceiveDataThroughput" />
      <xsd:enumeration value="NetworkReceivePacketThroughput" />
      <xsd:enumeration value="NetworkTransmitDataThroughput" />
      <xsd:enumeration value="NetworkTransmitPacketThroughput" />
      <xsd:enumeration value="NFSFilePollerSourceProtocolHandlerSummary" />
      <xsd:enumeration value="NFSMountStatus" />
      <xsd:enumeration value="NTPRefreshStatus" />
      <xsd:enumeration value="OAuthCachesStatus" />
      <xsd:enumeration value="ObjectStatus" />
      <xsd:enumeration value="ODRConnectorGroupStatus" />
      <xsd:enumeration value="ODRConnectorGroupStatus2" />
      <xsd:enumeration value="ODRLoadBalancerStatus" />
      <xsd:enumeration value="OtherSensors" />
      <xsd:enumeration value="PCIBus" />
      <xsd:enumeration value="PolicyDomainStatus" />
      <xsd:enumeration value="POPPollerSourceProtocolHandlerSummary" />
      <xsd:enumeration value="PortStatus" />
      <xsd:enumeration value="PowerSensors" />
      <xsd:enumeration value="QuotaEnforcementStatus" />
      <xsd:enumeration value="RaidArrayStatus" />
      <xsd:enumeration value="RaidBatteryBackUpStatus" />
      <xsd:enumeration value="RaidBatteryModuleStatus" />
      <xsd:enumeration value="RaidLogicalDriveStatus" />
      <xsd:enumeration value="RaidPartitionStatus" />
      <xsd:enumeration value="RaidPhysDiskStatus" />
      <xsd:enumeration value="RaidPhysDiskStatus2" />
      <xsd:enumeration value="RaidPhysicalDriveStatus" />
      <xsd:enumeration value="RaidVolumeStatus" />
      <xsd:enumeration value="RaidVolumeStatus2" />
      <xsd:enumeration value="RateLimitConcurrentStatus" />
      <xsd:enumeration value="RateLimitCountStatus" />
      <xsd:enumeration value="RateLimitRateStatus" />
      <xsd:enumeration value="RateLimitTokenBucketStatus" />
      <xsd:enumeration value="ReceiveKbpsThroughput" />
      <xsd:enumeration value="ReceivePacketThroughput" />
      <xsd:enumeration value="RoutingStatus" />
      <xsd:enumeration value="RoutingStatus2" />
      <xsd:enumeration value="RoutingStatus3" />
      <xsd:enumeration value="SecureCloudConnectorConnectionsStatus" />
      <xsd:enumeration value="SelfBalancedStatus" />
      <xsd:enumeration value="SelfBalancedStatus2" />
      <xsd:enumeration value="SelfBalancedTable" />
      <xsd:enumeration value="ServicesMemoryStatus" />
      <xsd:enumeration value="ServicesMemoryStatus2" />
      <xsd:enumeration value="ServicesStatus" />
      <xsd:enumeration value="ServicesStatusPlus" />
      <xsd:enumeration value="ServiceVersionStatus" />
      <xsd:enumeration value="SFTPFilePollerSourceProtocolHandlerSummary" />
      <xsd:enumeration value="SGClientConnectionStatus" />
      <xsd:enumeration value="SGClientStatus" />
      <xsd:enumeration value="SLMPeeringStatus" />
      <xsd:enumeration value="SLMSummaryStatus" />
      <xsd:enumeration value="SNMPStatus" />
      <xsd:enumeration value="SQLConnectionPoolStatus" />
      <xsd:enumeration value="SQLRuntimeStatus" />
      <xsd:enumeration value="SQLStatus" />
      <xsd:enumeration value="SSHKnownHostFileStatus" />
      <xsd:enumeration value="SSHKnownHostFileStatus2" />
      <xsd:enumeration value="SSHKnownHostStatus" />
      <xsd:enumeration value="SSHServerSourceProtocolHandlerSummary" />
      <xsd:enumeration value="SSHTrustedHostStatus" />
      <xsd:enumeration value="SSLProxyServiceSummary" />
      <xsd:enumeration value="StandbyStatus" />
      <xsd:enumeration value="StandbyStatus2" />
      <xsd:enumeration value="StatelessTCPSourceProtocolHandlerSummary" />
      <xsd:enumeration value="StylesheetCachingSummary" />
      <xsd:enumeration value="StylesheetExecutions" />
      <xsd:enumeration value="StylesheetExecutionsSimpleIndex" />
      <xsd:enumeration value="StylesheetMeanExecutionTime" />
      <xsd:enumeration value="StylesheetMeanExecutionTimeSimpleIndex" />
      <xsd:enumeration value="StylesheetProfiles" />
      <xsd:enumeration value="StylesheetProfilesSimpleIndex" />
      <xsd:enumeration value="StylesheetStatus" />
      <xsd:enumeration value="StylesheetStatusSimpleIndex" />
      <xsd:enumeration value="SystemUsage" />
      <xsd:enumeration value="SystemUsage2Table" />
      <xsd:enumeration value="SystemUsageTable" />
      <xsd:enumeration value="TCPProxyServiceSummary" />
      <xsd:enumeration value="TCPSummary" />
      <xsd:enumeration value="TCPTable" />
      <xsd:enumeration value="TemperatureSensors" />
      <xsd:enumeration value="TibcoEMSSourceProtocolHandlerSummary" />
      <xsd:enumeration value="TibcoEMSStatus" />
      <xsd:enumeration value="TibcoRVCMLedgerStatus" />
      <xsd:enumeration value="TransmitKbpsThroughput" />
      <xsd:enumeration value="TransmitPacketThroughput" />
      <xsd:enumeration value="TRVPolicySummary" />
      <xsd:enumeration value="TRVSourceProtocolHandlerSummary" />
      <xsd:enumeration value="UDDISubscriptionKeyStatusSimpleIndex" />
      <xsd:enumeration value="UDDISubscriptionServiceStatusSimpleIndex" />
      <xsd:enumeration value="UDDISubscriptionStatusSimpleIndex" />
      <xsd:enumeration value="UDPTable" />
      <xsd:enumeration value="Version" />
      <xsd:enumeration value="VirtualPlatform" />
      <xsd:enumeration value="VirtualPlatform2" />
      <xsd:enumeration value="VlanInterfaceStatus" />
      <xsd:enumeration value="VlanInterfaceStatus2" />
      <xsd:enumeration value="VoltageSensors" />
      <xsd:enumeration value="WebAppFwAccepted" />
      <xsd:enumeration value="WebAppFwRejected" />
      <xsd:enumeration value="WebAppFWSummary" />
      <xsd:enumeration value="WebApplicationGatewaySummary" />
      <xsd:enumeration value="WebSphereJMSSourceProtocolHandlerSummary" />
      <xsd:enumeration value="WebSphereJMSStatus" />
      <xsd:enumeration value="WebTokenServiceSummary" />
      <xsd:enumeration value="WSGatewaySummary" />
      <xsd:enumeration value="WSMAgentSpoolers" />
      <xsd:enumeration value="WSMAgentStatus" />
      <xsd:enumeration value="WSOperationMetrics" />
      <xsd:enumeration value="WSOperationMetricsSimpleIndex" />
      <xsd:enumeration value="WSOperationsStatus" />
      <xsd:enumeration value="WSOperationsStatusSimpleIndex" />
      <xsd:enumeration value="WSRRSavdSrchSubsPolicyAttachmentsStatus" />
      <xsd:enumeration value="WSRRSavedSearchSubscriptionServiceStatus" />
      <xsd:enumeration value="WSRRSavedSearchSubscriptionStatus" />
      <xsd:enumeration value="WSRRSubscriptionPolicyAttachmentsStatus" />
      <xsd:enumeration value="WSRRSubscriptionServiceStatus" />
      <xsd:enumeration value="WSRRSubscriptionStatus" />
      <xsd:enumeration value="WSWSDLStatus" />
      <xsd:enumeration value="WSWSDLStatusSimpleIndex" />
      <xsd:enumeration value="WXSGridStatus" />
      <xsd:enumeration value="XC10GridStatus" />
      <xsd:enumeration value="XMLFirewallServiceSummary" />
      <xsd:enumeration value="XMLNamesStatus" />
      <xsd:enumeration value="XSLCoprocServiceSummary" />
      <xsd:enumeration value="XSLProxyServiceSummary" />
      <xsd:enumeration value="XTCProtocolHandlerSummary" />
      <xsd:enumeration value="ZHybridTCSstatus" />
      <xsd:enumeration value="ZosNSSstatus" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="GenericStatus">
    <xsd:sequence>
      <xsd:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="status-objects">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="ActiveUsers" type="dp:GenericStatus" />
      <xsd:element name="ARPStatus" type="dp:GenericStatus" />
      <xsd:element name="AS1PollerSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="AS2SourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="AS3SourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="AuthCookieCacheStatus" type="dp:GenericStatus" />
      <xsd:element name="B2BGatewaySummary" type="dp:GenericStatus" />
      <xsd:element name="B2BHighAvailabilityStatus" type="dp:GenericStatus" />
      <xsd:element name="B2BMessageArchiveStatus" type="dp:GenericStatus" />
      <xsd:element name="B2BMPCStatus" type="dp:GenericStatus" />
      <xsd:element name="B2BTransactionLog" type="dp:GenericStatus" />
      <xsd:element name="B2BTransactionLog2" type="dp:GenericStatus" />
      <xsd:element name="Battery" type="dp:GenericStatus" />
      <xsd:element name="ChangeGroupRetryQueue" type="dp:GenericStatus" />
      <xsd:element name="ChangeGroups" type="dp:GenericStatus" />
      <xsd:element name="CloudConnectorServiceSummary" type="dp:GenericStatus" />
      <xsd:element name="CloudGatewayServiceSummary" type="dp:GenericStatus" />
      <xsd:element name="ConnectionsAccepted" type="dp:GenericStatus" />
      <xsd:element name="CPUUsage" type="dp:GenericStatus" />
      <xsd:element name="CryptoEngineStatus" type="dp:GenericStatus" />
      <xsd:element name="CryptoEngineStatus2" type="dp:GenericStatus" />
      <xsd:element name="CryptoHwDisableStatus" type="dp:GenericStatus" />
      <xsd:element name="CryptoModeStatus" type="dp:GenericStatus" />
      <xsd:element name="CurrentSensors" type="dp:GenericStatus" />
      <xsd:element name="DateTimeStatus" type="dp:GenericStatus" />
      <xsd:element name="DateTimeStatus2" type="dp:GenericStatus" />
      <xsd:element name="DebugActionStatus" type="dp:GenericStatus" />
      <xsd:element name="DNSCacheHostStatus" type="dp:GenericStatus" />
      <xsd:element name="DNSCacheHostStatus2" type="dp:GenericStatus" />
      <xsd:element name="DNSCacheHostStatus3" type="dp:GenericStatus" />
      <xsd:element name="DNSCacheHostStatus4" type="dp:GenericStatus" />
      <xsd:element name="DNSNameServerStatus" type="dp:GenericStatus" />
      <xsd:element name="DNSNameServerStatus2" type="dp:GenericStatus" />
      <xsd:element name="DNSSearchDomainStatus" type="dp:GenericStatus" />
      <xsd:element name="DNSStaticHostStatus" type="dp:GenericStatus" />
      <xsd:element name="DocumentCachingSummary" type="dp:GenericStatus" />
      <xsd:element name="DocumentCachingSummaryGlobal" type="dp:GenericStatus" />
      <xsd:element name="DocumentStatus" type="dp:GenericStatus" />
      <xsd:element name="DocumentStatusSimpleIndex" type="dp:GenericStatus" />
      <xsd:element name="DomainCheckpointStatus" type="dp:GenericStatus" />
      <xsd:element name="DomainsMemoryStatus" type="dp:GenericStatus" />
      <xsd:element name="DomainsMemoryStatus2" type="dp:GenericStatus" />
      <xsd:element name="DomainStatus" type="dp:GenericStatus" />
      <xsd:element name="DomainSummary" type="dp:GenericStatus" />
      <xsd:element name="DynamicQueueManager" type="dp:GenericStatus" />
      <xsd:element name="DynamicTibcoEMSStatus" type="dp:GenericStatus" />
      <xsd:element name="EBMS2SourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="EBMS3SourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="EnvironmentalFanSensors" type="dp:GenericStatus" />
      <xsd:element name="EnvironmentalSensors" type="dp:GenericStatus" />
      <xsd:element name="EthernetCountersStatus" type="dp:GenericStatus" />
      <xsd:element name="EthernetInterfaceStatus" type="dp:GenericStatus" />
      <xsd:element name="EthernetMAUStatus" type="dp:GenericStatus" />
      <xsd:element name="EthernetMIIRegisterStatus" type="dp:GenericStatus" />
      <xsd:element name="FailureNotificationStatus" type="dp:GenericStatus" />
      <xsd:element name="FailureNotificationStatus2" type="dp:GenericStatus" />
      <xsd:element name="FibreChannelHBAStatus" type="dp:GenericStatus" />
      <xsd:element name="FibreChannelTargetStatus" type="dp:GenericStatus" />
      <xsd:element name="FilePollerStatus" type="dp:GenericStatus" />
      <xsd:element name="FilesystemStatus" type="dp:GenericStatus" />
      <xsd:element name="FirmwareStatus" type="dp:GenericStatus" />
      <xsd:element name="FirmwareVersion" type="dp:GenericStatus" />
      <xsd:element name="FirmwareVersion2" type="dp:GenericStatus" />
      <xsd:element name="FTPFilePollerSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="FTPServerSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="GatewayTransactions" type="dp:GenericStatus" />
      <xsd:element name="HNAppStats" type="dp:GenericStatus" />
      <xsd:element name="HNPurgeStatus" type="dp:GenericStatus" />
      <xsd:element name="HNViewCacheResult" type="dp:GenericStatus" />
      <xsd:element name="HSMKeyStatus" type="dp:GenericStatus" />
      <xsd:element name="HTTPConnections" type="dp:GenericStatus" />
      <xsd:element name="HTTPConnectionsCreated" type="dp:GenericStatus" />
      <xsd:element name="HTTPConnectionsDestroyed" type="dp:GenericStatus" />
      <xsd:element name="HTTPConnectionsOffered" type="dp:GenericStatus" />
      <xsd:element name="HTTPConnectionsRequested" type="dp:GenericStatus" />
      <xsd:element name="HTTPConnectionsReturned" type="dp:GenericStatus" />
      <xsd:element name="HTTPConnectionsReused" type="dp:GenericStatus" />
      <xsd:element name="HTTPMeanTransactionTime" type="dp:GenericStatus" />
      <xsd:element name="HTTPMeanTransactionTime2" type="dp:GenericStatus" />
      <xsd:element name="HTTPServiceSummary" type="dp:GenericStatus" />
      <xsd:element name="HTTPSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="HTTPSSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="HTTPTransactions" type="dp:GenericStatus" />
      <xsd:element name="HTTPTransactions2" type="dp:GenericStatus" />
      <xsd:element name="Hypervisor" type="dp:GenericStatus" />
      <xsd:element name="Hypervisor2" type="dp:GenericStatus" />
      <xsd:element name="IGMPStatus" type="dp:GenericStatus" />
      <xsd:element name="IMSConnectSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="IMSConnectstatus" type="dp:GenericStatus" />
      <xsd:element name="IPAddressStatus" type="dp:GenericStatus" />
      <xsd:element name="IPMISelEvents" type="dp:GenericStatus" />
      <xsd:element name="IPMulticastStatus" type="dp:GenericStatus" />
      <xsd:element name="IScsiHBAStatus" type="dp:GenericStatus" />
      <xsd:element name="IScsiInitiatorStatus" type="dp:GenericStatus" />
      <xsd:element name="IScsiTargetStatus" type="dp:GenericStatus" />
      <xsd:element name="IScsiVolumeStatus" type="dp:GenericStatus" />
      <xsd:element name="KerberosTickets" type="dp:GenericStatus" />
      <xsd:element name="KerberosTickets2" type="dp:GenericStatus" />
      <xsd:element name="LDAPPoolEntries" type="dp:GenericStatus" />
      <xsd:element name="LDAPPoolSummary" type="dp:GenericStatus" />
      <xsd:element name="LibraryVersion" type="dp:GenericStatus" />
      <xsd:element name="LicenseStatus" type="dp:GenericStatus" />
      <xsd:element name="LinkAggregationMemberStatus" type="dp:GenericStatus" />
      <xsd:element name="LinkAggregationStatus" type="dp:GenericStatus" />
      <xsd:element name="LinkStatus" type="dp:GenericStatus" />
      <xsd:element name="LLMInstanceStatus" type="dp:GenericStatus" />
      <xsd:element name="LLMPolicySummary" type="dp:GenericStatus" />
      <xsd:element name="LLMSelectionStatus" type="dp:GenericStatus" />
      <xsd:element name="LLMSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="LoadBalancerStatus" type="dp:GenericStatus" />
      <xsd:element name="LoadBalancerStatus2" type="dp:GenericStatus" />
      <xsd:element name="LogTargetStatus" type="dp:GenericStatus" />
      <xsd:element name="LunaLatency" type="dp:GenericStatus" />
      <xsd:element name="MemoryStatus" type="dp:GenericStatus" />
      <xsd:element name="MessageCountFilters" type="dp:GenericStatus" />
      <xsd:element name="MessageCounts" type="dp:GenericStatus" />
      <xsd:element name="MessageDurationFilters" type="dp:GenericStatus" />
      <xsd:element name="MessageDurations" type="dp:GenericStatus" />
      <xsd:element name="MessageSources" type="dp:GenericStatus" />
      <xsd:element name="MQConnStatus" type="dp:GenericStatus" />
      <xsd:element name="MQFTESourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="MQQMstatus" type="dp:GenericStatus" />
      <xsd:element name="MQSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="MQStatus" type="dp:GenericStatus" />
      <xsd:element name="MultipathStatus" type="dp:GenericStatus" />
      <xsd:element name="MultiProtocolGatewaySummary" type="dp:GenericStatus" />
      <xsd:element name="NDCacheStatus" type="dp:GenericStatus" />
      <xsd:element name="NDCacheStatus2" type="dp:GenericStatus" />
      <xsd:element name="NetworkInterfaceStatus" type="dp:GenericStatus" />
      <xsd:element name="NetworkReceiveDataThroughput" type="dp:GenericStatus" />
      <xsd:element name="NetworkReceivePacketThroughput" type="dp:GenericStatus" />
      <xsd:element name="NetworkTransmitDataThroughput" type="dp:GenericStatus" />
      <xsd:element name="NetworkTransmitPacketThroughput" type="dp:GenericStatus" />
      <xsd:element name="NFSFilePollerSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="NFSMountStatus" type="dp:GenericStatus" />
      <xsd:element name="NTPRefreshStatus" type="dp:GenericStatus" />
      <xsd:element name="OAuthCachesStatus" type="dp:GenericStatus" />
      <xsd:element name="ObjectStatus" type="dp:GenericStatus" />
      <xsd:element name="ODRConnectorGroupStatus" type="dp:GenericStatus" />
      <xsd:element name="ODRConnectorGroupStatus2" type="dp:GenericStatus" />
      <xsd:element name="ODRLoadBalancerStatus" type="dp:GenericStatus" />
      <xsd:element name="OtherSensors" type="dp:GenericStatus" />
      <xsd:element name="PCIBus" type="dp:GenericStatus" />
      <xsd:element name="PolicyDomainStatus" type="dp:GenericStatus" />
      <xsd:element name="POPPollerSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="PortStatus" type="dp:GenericStatus" />
      <xsd:element name="PowerSensors" type="dp:GenericStatus" />
      <xsd:element name="QuotaEnforcementStatus" type="dp:GenericStatus" />
      <xsd:element name="RaidArrayStatus" type="dp:GenericStatus" />
      <xsd:element name="RaidBatteryBackUpStatus" type="dp:GenericStatus" />
      <xsd:element name="RaidBatteryModuleStatus" type="dp:GenericStatus" />
      <xsd:element name="RaidLogicalDriveStatus" type="dp:GenericStatus" />
      <xsd:element name="RaidPartitionStatus" type="dp:GenericStatus" />
      <xsd:element name="RaidPhysDiskStatus" type="dp:GenericStatus" />
      <xsd:element name="RaidPhysDiskStatus2" type="dp:GenericStatus" />
      <xsd:element name="RaidPhysicalDriveStatus" type="dp:GenericStatus" />
      <xsd:element name="RaidVolumeStatus" type="dp:GenericStatus" />
      <xsd:element name="RaidVolumeStatus2" type="dp:GenericStatus" />
      <xsd:element name="RateLimitConcurrentStatus" type="dp:GenericStatus" />
      <xsd:element name="RateLimitCountStatus" type="dp:GenericStatus" />
      <xsd:element name="RateLimitRateStatus" type="dp:GenericStatus" />
      <xsd:element name="RateLimitTokenBucketStatus" type="dp:GenericStatus" />
      <xsd:element name="ReceiveKbpsThroughput" type="dp:GenericStatus" />
      <xsd:element name="ReceivePacketThroughput" type="dp:GenericStatus" />
      <xsd:element name="RoutingStatus" type="dp:GenericStatus" />
      <xsd:element name="RoutingStatus2" type="dp:GenericStatus" />
      <xsd:element name="RoutingStatus3" type="dp:GenericStatus" />
      <xsd:element name="SecureCloudConnectorConnectionsStatus" type="dp:GenericStatus" />
      <xsd:element name="SelfBalancedStatus" type="dp:GenericStatus" />
      <xsd:element name="SelfBalancedStatus2" type="dp:GenericStatus" />
      <xsd:element name="SelfBalancedTable" type="dp:GenericStatus" />
      <xsd:element name="ServicesMemoryStatus" type="dp:GenericStatus" />
      <xsd:element name="ServicesMemoryStatus2" type="dp:GenericStatus" />
      <xsd:element name="ServicesStatus" type="dp:GenericStatus" />
      <xsd:element name="ServicesStatusPlus" type="dp:GenericStatus" />
      <xsd:element name="ServiceVersionStatus" type="dp:GenericStatus" />
      <xsd:element name="SFTPFilePollerSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="SGClientConnectionStatus" type="dp:GenericStatus" />
      <xsd:element name="SGClientStatus" type="dp:GenericStatus" />
      <xsd:element name="SLMPeeringStatus" type="dp:GenericStatus" />
      <xsd:element name="SLMSummaryStatus" type="dp:GenericStatus" />
      <xsd:element name="SNMPStatus" type="dp:GenericStatus" />
      <xsd:element name="SQLConnectionPoolStatus" type="dp:GenericStatus" />
      <xsd:element name="SQLRuntimeStatus" type="dp:GenericStatus" />
      <xsd:element name="SQLStatus" type="dp:GenericStatus" />
      <xsd:element name="SSHKnownHostFileStatus" type="dp:GenericStatus" />
      <xsd:element name="SSHKnownHostFileStatus2" type="dp:GenericStatus" />
      <xsd:element name="SSHKnownHostStatus" type="dp:GenericStatus" />
      <xsd:element name="SSHServerSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="SSHTrustedHostStatus" type="dp:GenericStatus" />
      <xsd:element name="SSLProxyServiceSummary" type="dp:GenericStatus" />
      <xsd:element name="StandbyStatus" type="dp:GenericStatus" />
      <xsd:element name="StandbyStatus2" type="dp:GenericStatus" />
      <xsd:element name="StatelessTCPSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="StylesheetCachingSummary" type="dp:GenericStatus" />
      <xsd:element name="StylesheetExecutions" type="dp:GenericStatus" />
      <xsd:element name="StylesheetExecutionsSimpleIndex" type="dp:GenericStatus" />
      <xsd:element name="StylesheetMeanExecutionTime" type="dp:GenericStatus" />
      <xsd:element name="StylesheetMeanExecutionTimeSimpleIndex" type="dp:GenericStatus" />
      <xsd:element name="StylesheetProfiles" type="dp:GenericStatus" />
      <xsd:element name="StylesheetProfilesSimpleIndex" type="dp:GenericStatus" />
      <xsd:element name="StylesheetStatus" type="dp:GenericStatus" />
      <xsd:element name="StylesheetStatusSimpleIndex" type="dp:GenericStatus" />
      <xsd:element name="SystemUsage" type="dp:GenericStatus" />
      <xsd:element name="SystemUsage2Table" type="dp:GenericStatus" />
      <xsd:element name="SystemUsageTable" type="dp:GenericStatus" />
      <xsd:element name="TCPProxyServiceSummary" type="dp:GenericStatus" />
      <xsd:element name="TCPSummary" type="dp:GenericStatus" />
      <xsd:element name="TCPTable" type="dp:GenericStatus" />
      <xsd:element name="TemperatureSensors" type="dp:GenericStatus" />
      <xsd:element name="TibcoEMSSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="TibcoEMSStatus" type="dp:GenericStatus" />
      <xsd:element name="TibcoRVCMLedgerStatus" type="dp:GenericStatus" />
      <xsd:element name="TransmitKbpsThroughput" type="dp:GenericStatus" />
      <xsd:element name="TransmitPacketThroughput" type="dp:GenericStatus" />
      <xsd:element name="TRVPolicySummary" type="dp:GenericStatus" />
      <xsd:element name="TRVSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="UDDISubscriptionKeyStatusSimpleIndex" type="dp:GenericStatus" />
      <xsd:element name="UDDISubscriptionServiceStatusSimpleIndex" type="dp:GenericStatus" />
      <xsd:element name="UDDISubscriptionStatusSimpleIndex" type="dp:GenericStatus" />
      <xsd:element name="UDPTable" type="dp:GenericStatus" />
      <xsd:element name="Version" type="dp:GenericStatus" />
      <xsd:element name="VirtualPlatform" type="dp:GenericStatus" />
      <xsd:element name="VirtualPlatform2" type="dp:GenericStatus" />
      <xsd:element name="VlanInterfaceStatus" type="dp:GenericStatus" />
      <xsd:element name="VlanInterfaceStatus2" type="dp:GenericStatus" />
      <xsd:element name="VoltageSensors" type="dp:GenericStatus" />
      <xsd:element name="WebAppFwAccepted" type="dp:GenericStatus" />
      <xsd:element name="WebAppFwRejected" type="dp:GenericStatus" />
      <xsd:element name="WebAppFWSummary" type="dp:GenericStatus" />
      <xsd:element name="WebApplicationGatewaySummary" type="dp:GenericStatus" />
      <xsd:element name="WebSphereJMSSourceProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="WebSphereJMSStatus" type="dp:GenericStatus" />
      <xsd:element name="WebTokenServiceSummary" type="dp:GenericStatus" />
      <xsd:element name="WSGatewaySummary" type="dp:GenericStatus" />
      <xsd:element name="WSMAgentSpoolers" type="dp:GenericStatus" />
      <xsd:element name="WSMAgentStatus" type="dp:GenericStatus" />
      <xsd:element name="WSOperationMetrics" type="dp:GenericStatus" />
      <xsd:element name="WSOperationMetricsSimpleIndex" type="dp:GenericStatus" />
      <xsd:element name="WSOperationsStatus" type="dp:GenericStatus" />
      <xsd:element name="WSOperationsStatusSimpleIndex" type="dp:GenericStatus" />
      <xsd:element name="WSRRSavdSrchSubsPolicyAttachmentsStatus" type="dp:GenericStatus" />
      <xsd:element name="WSRRSavedSearchSubscriptionServiceStatus" type="dp:GenericStatus" />
      <xsd:element name="WSRRSavedSearchSubscriptionStatus" type="dp:GenericStatus" />
      <xsd:element name="WSRRSubscriptionPolicyAttachmentsStatus" type="dp:GenericStatus" />
      <xsd:element name="WSRRSubscriptionServiceStatus" type="dp:GenericStatus" />
      <xsd:element name="WSRRSubscriptionStatus" type="dp:GenericStatus" />
      <xsd:element name="WSWSDLStatus" type="dp:GenericStatus" />
      <xsd:element name="WSWSDLStatusSimpleIndex" type="dp:GenericStatus" />
      <xsd:element name="WXSGridStatus" type="dp:GenericStatus" />
      <xsd:element name="XC10GridStatus" type="dp:GenericStatus" />
      <xsd:element name="XMLFirewallServiceSummary" type="dp:GenericStatus" />
      <xsd:element name="XMLNamesStatus" type="dp:GenericStatus" />
      <xsd:element name="XSLCoprocServiceSummary" type="dp:GenericStatus" />
      <xsd:element name="XSLProxyServiceSummary" type="dp:GenericStatus" />
      <xsd:element name="XTCProtocolHandlerSummary" type="dp:GenericStatus" />
      <xsd:element name="ZHybridTCSstatus" type="dp:GenericStatus" />
      <xsd:element name="ZosNSSstatus" type="dp:GenericStatus" />
    </xsd:choice>
  </xsd:complexType>
<!-- CONFIG OBJECTS -->
  <xsd:simpleType name="config-class">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AAAPolicy" />
      <xsd:enumeration value="Domain" />
      <xsd:enumeration value="LDAPSearchParameters" />
      <xsd:enumeration value="ProcessingMetadata" />
      <xsd:enumeration value="RADIUSSettings" />
      <xsd:enumeration value="RBMSettings" />
      <xsd:enumeration value="Reserved117" />
      <xsd:enumeration value="SAMLAttributes" />
      <xsd:enumeration value="SOAPHeaderDisposition" />
      <xsd:enumeration value="TAM" />
      <xsd:enumeration value="TFIMEndpoint" />
      <xsd:enumeration value="XACMLPDP" />
      <xsd:enumeration value="AccessControlList" />
      <xsd:enumeration value="AppSecurityPolicy" />
      <xsd:enumeration value="AuditLog" />
      <xsd:enumeration value="B2BCPA" />
      <xsd:enumeration value="B2BCPACollaboration" />
      <xsd:enumeration value="B2BCPAReceiverSetting" />
      <xsd:enumeration value="B2BCPASenderSetting" />
      <xsd:enumeration value="B2BGateway" />
      <xsd:enumeration value="B2BPersistence" />
      <xsd:enumeration value="B2BProfile" />
      <xsd:enumeration value="B2BProfileGroup" />
      <xsd:enumeration value="B2BXPathRoutingPolicy" />
      <xsd:enumeration value="WXSGrid" />
      <xsd:enumeration value="XC10Grid" />
      <xsd:enumeration value="CloudConnectorService" />
      <xsd:enumeration value="CloudGatewayService" />
      <xsd:enumeration value="ClusterService" />
      <xsd:enumeration value="CompactFlash" />
      <xsd:enumeration value="CompileOptionsPolicy" />
      <xsd:enumeration value="ConfigDeploymentPolicy" />
      <xsd:enumeration value="ConformancePolicy" />
      <xsd:enumeration value="AAAJWTGenerator" />
      <xsd:enumeration value="AAAJWTValidator" />
      <xsd:enumeration value="CertMonitor" />
      <xsd:enumeration value="CookieAttributePolicy" />
      <xsd:enumeration value="CRLFetch" />
      <xsd:enumeration value="CryptoCertificate" />
      <xsd:enumeration value="CryptoFWCred" />
      <xsd:enumeration value="CryptoIdentCred" />
      <xsd:enumeration value="CryptoKerberosKDC" />
      <xsd:enumeration value="CryptoKerberosKeytab" />
      <xsd:enumeration value="CryptoKey" />
      <xsd:enumeration value="CryptoProfile" />
      <xsd:enumeration value="CryptoSSKey" />
      <xsd:enumeration value="CryptoValCred" />
      <xsd:enumeration value="JOSERecipientIdentifier" />
      <xsd:enumeration value="JOSESignatureIdentifier" />
      <xsd:enumeration value="JWEHeader" />
      <xsd:enumeration value="JWERecipient" />
      <xsd:enumeration value="JWSSignature" />
      <xsd:enumeration value="OAuthSupportedClient" />
      <xsd:enumeration value="OAuthSupportedClientGroup" />
      <xsd:enumeration value="SocialLoginPolicy" />
      <xsd:enumeration value="SSHClientProfile" />
      <xsd:enumeration value="SSHDomainClientProfile" />
      <xsd:enumeration value="SSHServerProfile" />
      <xsd:enumeration value="SSLClientProfile" />
      <xsd:enumeration value="SSLProxyProfile" />
      <xsd:enumeration value="SSLServerProfile" />
      <xsd:enumeration value="SSLSNIMapping" />
      <xsd:enumeration value="SSLSNIServerProfile" />
      <xsd:enumeration value="DeploymentPolicyParametersBinding" />
      <xsd:enumeration value="ErrorReportSettings" />
      <xsd:enumeration value="SystemSettings" />
      <xsd:enumeration value="TimeSettings" />
      <xsd:enumeration value="DFDLSettings" />
      <xsd:enumeration value="DomainAvailability" />
      <xsd:enumeration value="DomainSettings" />
      <xsd:enumeration value="SchemaExceptionMap" />
      <xsd:enumeration value="DocumentCryptoMap" />
      <xsd:enumeration value="XPathRoutingMap" />
      <xsd:enumeration value="LogTarget" />
      <xsd:enumeration value="TraceTarget" />
      <xsd:enumeration value="FibreChannelHBA" />
      <xsd:enumeration value="FibreChannelTarget" />
      <xsd:enumeration value="FibreChannelVolume" />
      <xsd:enumeration value="FormsLoginPolicy" />
      <xsd:enumeration value="FTPQuoteCommands" />
      <xsd:enumeration value="MultiProtocolGateway" />
      <xsd:enumeration value="WebApplicationGateway" />
      <xsd:enumeration value="WSGateway" />
      <xsd:enumeration value="GeneratedPolicy" />
      <xsd:enumeration value="HNApplication" />
      <xsd:enumeration value="HTTPInputConversionMap" />
      <xsd:enumeration value="HTTPUserAgent" />
      <xsd:enumeration value="ILMTAgent" />
      <xsd:enumeration value="ImportPackage" />
      <xsd:enumeration value="IMSConnect" />
      <xsd:enumeration value="IncludeConfig" />
      <xsd:enumeration value="InteropService" />
      <xsd:enumeration value="EthernetInterface" />
      <xsd:enumeration value="LinkAggregation" />
      <xsd:enumeration value="VLANInterface" />
      <xsd:enumeration value="IPMILanChannel" />
      <xsd:enumeration value="IPMIUser" />
      <xsd:enumeration value="IPMulticast" />
      <xsd:enumeration value="ISAMReverseProxy" />
      <xsd:enumeration value="ISAMReverseProxyJunction" />
      <xsd:enumeration value="ISAMRuntime" />
      <xsd:enumeration value="IScsiChapConfig" />
      <xsd:enumeration value="IScsiHBAConfig" />
      <xsd:enumeration value="IScsiInitiatorConfig" />
      <xsd:enumeration value="IScsiTargetConfig" />
      <xsd:enumeration value="IScsiVolumeConfig" />
      <xsd:enumeration value="TibcoEMSServer" />
      <xsd:enumeration value="WebSphereJMSServer" />
      <xsd:enumeration value="JSONSettings" />
      <xsd:enumeration value="Language" />
      <xsd:enumeration value="LDAPConnectionPool" />
      <xsd:enumeration value="LLMInstance" />
      <xsd:enumeration value="LLMMulticastReceive" />
      <xsd:enumeration value="LLMMulticastTierGroup" />
      <xsd:enumeration value="LLMMulticastTransmit" />
      <xsd:enumeration value="LLMPolicy" />
      <xsd:enumeration value="TRVPolicy" />
      <xsd:enumeration value="LLMRoute" />
      <xsd:enumeration value="LLMUnicast" />
      <xsd:enumeration value="LoadBalancerGroup" />
      <xsd:enumeration value="LogLabel" />
      <xsd:enumeration value="Luna" />
      <xsd:enumeration value="LunaPartition" />
      <xsd:enumeration value="Matching" />
      <xsd:enumeration value="MCFCustomRule" />
      <xsd:enumeration value="MCFHttpHeader" />
      <xsd:enumeration value="MCFHttpMethod" />
      <xsd:enumeration value="MCFHttpURL" />
      <xsd:enumeration value="MCFXPath" />
      <xsd:enumeration value="MessageContentFilters" />
      <xsd:enumeration value="FilterAction" />
      <xsd:enumeration value="MessageMatching" />
      <xsd:enumeration value="CountMonitor" />
      <xsd:enumeration value="DurationMonitor" />
      <xsd:enumeration value="MessageType" />
      <xsd:enumeration value="MPGWErrorAction" />
      <xsd:enumeration value="MPGWErrorHandlingPolicy" />
      <xsd:enumeration value="MQGW" />
      <xsd:enumeration value="MQhost" />
      <xsd:enumeration value="MQproxy" />
      <xsd:enumeration value="MQQM" />
      <xsd:enumeration value="MQQMGroup" />
      <xsd:enumeration value="MTOMPolicy" />
      <xsd:enumeration value="NameValueProfile" />
      <xsd:enumeration value="DNSNameService" />
      <xsd:enumeration value="HostAlias" />
      <xsd:enumeration value="NetworkSettings" />
      <xsd:enumeration value="NTPService" />
      <xsd:enumeration value="NFSClientSettings" />
      <xsd:enumeration value="NFSDynamicMounts" />
      <xsd:enumeration value="NFSStaticMount" />
      <xsd:enumeration value="ODR" />
      <xsd:enumeration value="ODRConnectorGroup" />
      <xsd:enumeration value="PasswordAlias" />
      <xsd:enumeration value="PasswordMap" />
      <xsd:enumeration value="Pattern" />
      <xsd:enumeration value="PeerGroup" />
      <xsd:enumeration value="PolicyAttachments" />
      <xsd:enumeration value="PolicyParameters" />
      <xsd:enumeration value="QuotaEnforcementServer" />
      <xsd:enumeration value="RaidVolume" />
      <xsd:enumeration value="SQLRuntimeSettings" />
      <xsd:enumeration value="SecureBackupMode" />
      <xsd:enumeration value="SecureCloudConnector" />
      <xsd:enumeration value="SecureGatewayClient" />
      <xsd:enumeration value="MgmtInterface" />
      <xsd:enumeration value="MultipathService" />
      <xsd:enumeration value="Reserved71" />
      <xsd:enumeration value="RestMgmtInterface" />
      <xsd:enumeration value="SSHService" />
      <xsd:enumeration value="TelnetService" />
      <xsd:enumeration value="WebB2BViewer" />
      <xsd:enumeration value="WebGUI" />
      <xsd:enumeration value="XMLFirewallService" />
      <xsd:enumeration value="XSLProxyService" />
      <xsd:enumeration value="HTTPService" />
      <xsd:enumeration value="SSLProxyService" />
      <xsd:enumeration value="TCPProxyService" />
      <xsd:enumeration value="XSLCoprocService" />
      <xsd:enumeration value="ShellAlias" />
      <xsd:enumeration value="SimpleCountMonitor" />
      <xsd:enumeration value="SLMAction" />
      <xsd:enumeration value="SLMCredClass" />
      <xsd:enumeration value="SLMPolicy" />
      <xsd:enumeration value="SLMRsrcClass" />
      <xsd:enumeration value="SLMSchedule" />
      <xsd:enumeration value="SMTPServerConnection" />
      <xsd:enumeration value="SNMPSettings" />
      <xsd:enumeration value="AS2ProxySourceProtocolHandler" />
      <xsd:enumeration value="AS2SourceProtocolHandler" />
      <xsd:enumeration value="AS3SourceProtocolHandler" />
      <xsd:enumeration value="EBMS2SourceProtocolHandler" />
      <xsd:enumeration value="EBMS3SourceProtocolHandler" />
      <xsd:enumeration value="FTPFilePollerSourceProtocolHandler" />
      <xsd:enumeration value="NFSFilePollerSourceProtocolHandler" />
      <xsd:enumeration value="SFTPFilePollerSourceProtocolHandler" />
      <xsd:enumeration value="FTPServerSourceProtocolHandler" />
      <xsd:enumeration value="HTTPSourceProtocolHandler" />
      <xsd:enumeration value="HTTPSSourceProtocolHandler" />
      <xsd:enumeration value="IMSCalloutSourceProtocolHandler" />
      <xsd:enumeration value="IMSConnectSourceProtocolHandler" />
      <xsd:enumeration value="TibcoEMSSourceProtocolHandler" />
      <xsd:enumeration value="WebSphereJMSSourceProtocolHandler" />
      <xsd:enumeration value="LLMSourceProtocolHandler" />
      <xsd:enumeration value="MQFTESourceProtocolHandler" />
      <xsd:enumeration value="MQSourceProtocolHandler" />
      <xsd:enumeration value="AS1PollerSourceProtocolHandler" />
      <xsd:enumeration value="POPPollerSourceProtocolHandler" />
      <xsd:enumeration value="SSHServerSourceProtocolHandler" />
      <xsd:enumeration value="StatelessTCPSourceProtocolHandler" />
      <xsd:enumeration value="TRVSourceProtocolHandler" />
      <xsd:enumeration value="XTCProtocolHandler" />
      <xsd:enumeration value="SQLDataSource" />
      <xsd:enumeration value="StandaloneStandbyControl" />
      <xsd:enumeration value="StandaloneStandbyControlInterface" />
      <xsd:enumeration value="Statistics" />
      <xsd:enumeration value="StylePolicy" />
      <xsd:enumeration value="StylePolicyAction" />
      <xsd:enumeration value="StylePolicyRule" />
      <xsd:enumeration value="WSStylePolicyRule" />
      <xsd:enumeration value="Throttler" />
      <xsd:enumeration value="TRVRoute" />
      <xsd:enumeration value="TRVTransport" />
      <xsd:enumeration value="UDDIRegistry" />
      <xsd:enumeration value="URLMap" />
      <xsd:enumeration value="URLRefreshPolicy" />
      <xsd:enumeration value="URLRewritePolicy" />
      <xsd:enumeration value="User" />
      <xsd:enumeration value="UserGroup" />
      <xsd:enumeration value="WAXHNProxy" />
      <xsd:enumeration value="WCCService" />
      <xsd:enumeration value="WebAppErrorHandlingPolicy" />
      <xsd:enumeration value="WebAppFW" />
      <xsd:enumeration value="WebAppRequest" />
      <xsd:enumeration value="WebAppResponse" />
      <xsd:enumeration value="WebAppSessionPolicy" />
      <xsd:enumeration value="WebServiceMonitor" />
      <xsd:enumeration value="WebServicesAgent" />
      <xsd:enumeration value="UDDISubscription" />
      <xsd:enumeration value="WSRRSavedSearchSubscription" />
      <xsd:enumeration value="WSRRSubscription" />
      <xsd:enumeration value="WebTokenService" />
      <xsd:enumeration value="WSEndpointRewritePolicy" />
      <xsd:enumeration value="WSRRServer" />
      <xsd:enumeration value="WSStylePolicy" />
      <xsd:enumeration value="XM70Persistence" />
      <xsd:enumeration value="XMLManager" />
      <xsd:enumeration value="xmltrace" />
      <xsd:enumeration value="ZHybridTargetControlService" />
      <xsd:enumeration value="ZosNSSClient" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="GenericConfig">
    <xsd:sequence>
      <xsd:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
    <xsd:attribute name="name" type="xsd:string" />
    <xsd:attribute name="local" type="xsd:boolean" />
    <xsd:attribute name="intrinsic" type="xsd:boolean" />
    <xsd:attribute name="read-only" type="xsd:boolean" />
    <xsd:attribute name="external" type="xsd:boolean" />
  </xsd:complexType>
  <xsd:complexType name="config-objects">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="AAAPolicy" type="dp:GenericConfig" />
      <xsd:element name="Domain" type="dp:GenericConfig" />
      <xsd:element name="LDAPSearchParameters" type="dp:GenericConfig" />
      <xsd:element name="ProcessingMetadata" type="dp:GenericConfig" />
      <xsd:element name="RADIUSSettings" type="dp:GenericConfig" />
      <xsd:element name="RBMSettings" type="dp:GenericConfig" />
      <xsd:element name="Reserved117" type="dp:GenericConfig" />
      <xsd:element name="SAMLAttributes" type="dp:GenericConfig" />
      <xsd:element name="SOAPHeaderDisposition" type="dp:GenericConfig" />
      <xsd:element name="TAM" type="dp:GenericConfig" />
      <xsd:element name="TFIMEndpoint" type="dp:GenericConfig" />
      <xsd:element name="XACMLPDP" type="dp:GenericConfig" />
      <xsd:element name="AccessControlList" type="dp:GenericConfig" />
      <xsd:element name="AppSecurityPolicy" type="dp:GenericConfig" />
      <xsd:element name="AuditLog" type="dp:GenericConfig" />
      <xsd:element name="B2BCPA" type="dp:GenericConfig" />
      <xsd:element name="B2BCPACollaboration" type="dp:GenericConfig" />
      <xsd:element name="B2BCPAReceiverSetting" type="dp:GenericConfig" />
      <xsd:element name="B2BCPASenderSetting" type="dp:GenericConfig" />
      <xsd:element name="B2BGateway" type="dp:GenericConfig" />
      <xsd:element name="B2BPersistence" type="dp:GenericConfig" />
      <xsd:element name="B2BProfile" type="dp:GenericConfig" />
      <xsd:element name="B2BProfileGroup" type="dp:GenericConfig" />
      <xsd:element name="B2BXPathRoutingPolicy" type="dp:GenericConfig" />
      <xsd:element name="WXSGrid" type="dp:GenericConfig" />
      <xsd:element name="XC10Grid" type="dp:GenericConfig" />
      <xsd:element name="CloudConnectorService" type="dp:GenericConfig" />
      <xsd:element name="CloudGatewayService" type="dp:GenericConfig" />
      <xsd:element name="ClusterService" type="dp:GenericConfig" />
      <xsd:element name="CompactFlash" type="dp:GenericConfig" />
      <xsd:element name="CompileOptionsPolicy" type="dp:GenericConfig" />
      <xsd:element name="ConfigDeploymentPolicy" type="dp:GenericConfig" />
      <xsd:element name="ConformancePolicy" type="dp:GenericConfig" />
      <xsd:element name="AAAJWTGenerator" type="dp:GenericConfig" />
      <xsd:element name="AAAJWTValidator" type="dp:GenericConfig" />
      <xsd:element name="CertMonitor" type="dp:GenericConfig" />
      <xsd:element name="CookieAttributePolicy" type="dp:GenericConfig" />
      <xsd:element name="CRLFetch" type="dp:GenericConfig" />
      <xsd:element name="CryptoCertificate" type="dp:GenericConfig" />
      <xsd:element name="CryptoFWCred" type="dp:GenericConfig" />
      <xsd:element name="CryptoIdentCred" type="dp:GenericConfig" />
      <xsd:element name="CryptoKerberosKDC" type="dp:GenericConfig" />
      <xsd:element name="CryptoKerberosKeytab" type="dp:GenericConfig" />
      <xsd:element name="CryptoKey" type="dp:GenericConfig" />
      <xsd:element name="CryptoProfile" type="dp:GenericConfig" />
      <xsd:element name="CryptoSSKey" type="dp:GenericConfig" />
      <xsd:element name="CryptoValCred" type="dp:GenericConfig" />
      <xsd:element name="JOSERecipientIdentifier" type="dp:GenericConfig" />
      <xsd:element name="JOSESignatureIdentifier" type="dp:GenericConfig" />
      <xsd:element name="JWEHeader" type="dp:GenericConfig" />
      <xsd:element name="JWERecipient" type="dp:GenericConfig" />
      <xsd:element name="JWSSignature" type="dp:GenericConfig" />
      <xsd:element name="OAuthSupportedClient" type="dp:GenericConfig" />
      <xsd:element name="OAuthSupportedClientGroup" type="dp:GenericConfig" />
      <xsd:element name="SocialLoginPolicy" type="dp:GenericConfig" />
      <xsd:element name="SSHClientProfile" type="dp:GenericConfig" />
      <xsd:element name="SSHDomainClientProfile" type="dp:GenericConfig" />
      <xsd:element name="SSHServerProfile" type="dp:GenericConfig" />
      <xsd:element name="SSLClientProfile" type="dp:GenericConfig" />
      <xsd:element name="SSLProxyProfile" type="dp:GenericConfig" />
      <xsd:element name="SSLServerProfile" type="dp:GenericConfig" />
      <xsd:element name="SSLSNIMapping" type="dp:GenericConfig" />
      <xsd:element name="SSLSNIServerProfile" type="dp:GenericConfig" />
      <xsd:element name="DeploymentPolicyParametersBinding" type="dp:GenericConfig" />
      <xsd:element name="ErrorReportSettings" type="dp:GenericConfig" />
      <xsd:element name="SystemSettings" type="dp:GenericConfig" />
      <xsd:element name="TimeSettings" type="dp:GenericConfig" />
      <xsd:element name="DFDLSettings" type="dp:GenericConfig" />
      <xsd:element name="DomainAvailability" type="dp:GenericConfig" />
      <xsd:element name="DomainSettings" type="dp:GenericConfig" />
      <xsd:element name="SchemaExceptionMap" type="dp:GenericConfig" />
      <xsd:element name="DocumentCryptoMap" type="dp:GenericConfig" />
      <xsd:element name="XPathRoutingMap" type="dp:GenericConfig" />
      <xsd:element name="LogTarget" type="dp:GenericConfig" />
      <xsd:element name="TraceTarget" type="dp:GenericConfig" />
      <xsd:element name="FibreChannelHBA" type="dp:GenericConfig" />
      <xsd:element name="FibreChannelTarget" type="dp:GenericConfig" />
      <xsd:element name="FibreChannelVolume" type="dp:GenericConfig" />
      <xsd:element name="FormsLoginPolicy" type="dp:GenericConfig" />
      <xsd:element name="FTPQuoteCommands" type="dp:GenericConfig" />
      <xsd:element name="MultiProtocolGateway" type="dp:GenericConfig" />
      <xsd:element name="WebApplicationGateway" type="dp:GenericConfig" />
      <xsd:element name="WSGateway" type="dp:GenericConfig" />
      <xsd:element name="GeneratedPolicy" type="dp:GenericConfig" />
      <xsd:element name="HNApplication" type="dp:GenericConfig" />
      <xsd:element name="HTTPInputConversionMap" type="dp:GenericConfig" />
      <xsd:element name="HTTPUserAgent" type="dp:GenericConfig" />
      <xsd:element name="ILMTAgent" type="dp:GenericConfig" />
      <xsd:element name="ImportPackage" type="dp:GenericConfig" />
      <xsd:element name="IMSConnect" type="dp:GenericConfig" />
      <xsd:element name="IncludeConfig" type="dp:GenericConfig" />
      <xsd:element name="InteropService" type="dp:GenericConfig" />
      <xsd:element name="EthernetInterface" type="dp:GenericConfig" />
      <xsd:element name="LinkAggregation" type="dp:GenericConfig" />
      <xsd:element name="VLANInterface" type="dp:GenericConfig" />
      <xsd:element name="IPMILanChannel" type="dp:GenericConfig" />
      <xsd:element name="IPMIUser" type="dp:GenericConfig" />
      <xsd:element name="IPMulticast" type="dp:GenericConfig" />
      <xsd:element name="ISAMReverseProxy" type="dp:GenericConfig" />
      <xsd:element name="ISAMReverseProxyJunction" type="dp:GenericConfig" />
      <xsd:element name="ISAMRuntime" type="dp:GenericConfig" />
      <xsd:element name="IScsiChapConfig" type="dp:GenericConfig" />
      <xsd:element name="IScsiHBAConfig" type="dp:GenericConfig" />
      <xsd:element name="IScsiInitiatorConfig" type="dp:GenericConfig" />
      <xsd:element name="IScsiTargetConfig" type="dp:GenericConfig" />
      <xsd:element name="IScsiVolumeConfig" type="dp:GenericConfig" />
      <xsd:element name="TibcoEMSServer" type="dp:GenericConfig" />
      <xsd:element name="WebSphereJMSServer" type="dp:GenericConfig" />
      <xsd:element name="JSONSettings" type="dp:GenericConfig" />
      <xsd:element name="Language" type="dp:GenericConfig" />
      <xsd:element name="LDAPConnectionPool" type="dp:GenericConfig" />
      <xsd:element name="LLMInstance" type="dp:GenericConfig" />
      <xsd:element name="LLMMulticastReceive" type="dp:GenericConfig" />
      <xsd:element name="LLMMulticastTierGroup" type="dp:GenericConfig" />
      <xsd:element name="LLMMulticastTransmit" type="dp:GenericConfig" />
      <xsd:element name="LLMPolicy" type="dp:GenericConfig" />
      <xsd:element name="TRVPolicy" type="dp:GenericConfig" />
      <xsd:element name="LLMRoute" type="dp:GenericConfig" />
      <xsd:element name="LLMUnicast" type="dp:GenericConfig" />
      <xsd:element name="LoadBalancerGroup" type="dp:GenericConfig" />
      <xsd:element name="LogLabel" type="dp:GenericConfig" />
      <xsd:element name="Luna" type="dp:GenericConfig" />
      <xsd:element name="LunaPartition" type="dp:GenericConfig" />
      <xsd:element name="Matching" type="dp:GenericConfig" />
      <xsd:element name="MCFCustomRule" type="dp:GenericConfig" />
      <xsd:element name="MCFHttpHeader" type="dp:GenericConfig" />
      <xsd:element name="MCFHttpMethod" type="dp:GenericConfig" />
      <xsd:element name="MCFHttpURL" type="dp:GenericConfig" />
      <xsd:element name="MCFXPath" type="dp:GenericConfig" />
      <xsd:element name="MessageContentFilters" type="dp:GenericConfig" />
      <xsd:element name="FilterAction" type="dp:GenericConfig" />
      <xsd:element name="MessageMatching" type="dp:GenericConfig" />
      <xsd:element name="CountMonitor" type="dp:GenericConfig" />
      <xsd:element name="DurationMonitor" type="dp:GenericConfig" />
      <xsd:element name="MessageType" type="dp:GenericConfig" />
      <xsd:element name="MPGWErrorAction" type="dp:GenericConfig" />
      <xsd:element name="MPGWErrorHandlingPolicy" type="dp:GenericConfig" />
      <xsd:element name="MQGW" type="dp:GenericConfig" />
      <xsd:element name="MQhost" type="dp:GenericConfig" />
      <xsd:element name="MQproxy" type="dp:GenericConfig" />
      <xsd:element name="MQQM" type="dp:GenericConfig" />
      <xsd:element name="MQQMGroup" type="dp:GenericConfig" />
      <xsd:element name="MTOMPolicy" type="dp:GenericConfig" />
      <xsd:element name="NameValueProfile" type="dp:GenericConfig" />
      <xsd:element name="DNSNameService" type="dp:GenericConfig" />
      <xsd:element name="HostAlias" type="dp:GenericConfig" />
      <xsd:element name="NetworkSettings" type="dp:GenericConfig" />
      <xsd:element name="NTPService" type="dp:GenericConfig" />
      <xsd:element name="NFSClientSettings" type="dp:GenericConfig" />
      <xsd:element name="NFSDynamicMounts" type="dp:GenericConfig" />
      <xsd:element name="NFSStaticMount" type="dp:GenericConfig" />
      <xsd:element name="ODR" type="dp:GenericConfig" />
      <xsd:element name="ODRConnectorGroup" type="dp:GenericConfig" />
      <xsd:element name="PasswordAlias" type="dp:GenericConfig" />
      <xsd:element name="PasswordMap" type="dp:GenericConfig" />
      <xsd:element name="Pattern" type="dp:GenericConfig" />
      <xsd:element name="PeerGroup" type="dp:GenericConfig" />
      <xsd:element name="PolicyAttachments" type="dp:GenericConfig" />
      <xsd:element name="PolicyParameters" type="dp:GenericConfig" />
      <xsd:element name="QuotaEnforcementServer" type="dp:GenericConfig" />
      <xsd:element name="RaidVolume" type="dp:GenericConfig" />
      <xsd:element name="SQLRuntimeSettings" type="dp:GenericConfig" />
      <xsd:element name="SecureBackupMode" type="dp:GenericConfig" />
      <xsd:element name="SecureCloudConnector" type="dp:GenericConfig" />
      <xsd:element name="SecureGatewayClient" type="dp:GenericConfig" />
      <xsd:element name="MgmtInterface" type="dp:GenericConfig" />
      <xsd:element name="MultipathService" type="dp:GenericConfig" />
      <xsd:element name="Reserved71" type="dp:GenericConfig" />
      <xsd:element name="RestMgmtInterface" type="dp:GenericConfig" />
      <xsd:element name="SSHService" type="dp:GenericConfig" />
      <xsd:element name="TelnetService" type="dp:GenericConfig" />
      <xsd:element name="WebB2BViewer" type="dp:GenericConfig" />
      <xsd:element name="WebGUI" type="dp:GenericConfig" />
      <xsd:element name="XMLFirewallService" type="dp:GenericConfig" />
      <xsd:element name="XSLProxyService" type="dp:GenericConfig" />
      <xsd:element name="HTTPService" type="dp:GenericConfig" />
      <xsd:element name="SSLProxyService" type="dp:GenericConfig" />
      <xsd:element name="TCPProxyService" type="dp:GenericConfig" />
      <xsd:element name="XSLCoprocService" type="dp:GenericConfig" />
      <xsd:element name="ShellAlias" type="dp:GenericConfig" />
      <xsd:element name="SimpleCountMonitor" type="dp:GenericConfig" />
      <xsd:element name="SLMAction" type="dp:GenericConfig" />
      <xsd:element name="SLMCredClass" type="dp:GenericConfig" />
      <xsd:element name="SLMPolicy" type="dp:GenericConfig" />
      <xsd:element name="SLMRsrcClass" type="dp:GenericConfig" />
      <xsd:element name="SLMSchedule" type="dp:GenericConfig" />
      <xsd:element name="SMTPServerConnection" type="dp:GenericConfig" />
      <xsd:element name="SNMPSettings" type="dp:GenericConfig" />
      <xsd:element name="AS2ProxySourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="AS2SourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="AS3SourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="EBMS2SourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="EBMS3SourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="FTPFilePollerSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="NFSFilePollerSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="SFTPFilePollerSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="FTPServerSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="HTTPSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="HTTPSSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="IMSCalloutSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="IMSConnectSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="TibcoEMSSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="WebSphereJMSSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="LLMSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="MQFTESourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="MQSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="AS1PollerSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="POPPollerSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="SSHServerSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="StatelessTCPSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="TRVSourceProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="XTCProtocolHandler" type="dp:GenericConfig" />
      <xsd:element name="SQLDataSource" type="dp:GenericConfig" />
      <xsd:element name="StandaloneStandbyControl" type="dp:GenericConfig" />
      <xsd:element name="StandaloneStandbyControlInterface" type="dp:GenericConfig" />
      <xsd:element name="Statistics" type="dp:GenericConfig" />
      <xsd:element name="StylePolicy" type="dp:GenericConfig" />
      <xsd:element name="StylePolicyAction" type="dp:GenericConfig" />
      <xsd:element name="StylePolicyRule" type="dp:GenericConfig" />
      <xsd:element name="WSStylePolicyRule" type="dp:GenericConfig" />
      <xsd:element name="Throttler" type="dp:GenericConfig" />
      <xsd:element name="TRVRoute" type="dp:GenericConfig" />
      <xsd:element name="TRVTransport" type="dp:GenericConfig" />
      <xsd:element name="UDDIRegistry" type="dp:GenericConfig" />
      <xsd:element name="URLMap" type="dp:GenericConfig" />
      <xsd:element name="URLRefreshPolicy" type="dp:GenericConfig" />
      <xsd:element name="URLRewritePolicy" type="dp:GenericConfig" />
      <xsd:element name="User" type="dp:GenericConfig" />
      <xsd:element name="UserGroup" type="dp:GenericConfig" />
      <xsd:element name="WAXHNProxy" type="dp:GenericConfig" />
      <xsd:element name="WCCService" type="dp:GenericConfig" />
      <xsd:element name="WebAppErrorHandlingPolicy" type="dp:GenericConfig" />
      <xsd:element name="WebAppFW" type="dp:GenericConfig" />
      <xsd:element name="WebAppRequest" type="dp:GenericConfig" />
      <xsd:element name="WebAppResponse" type="dp:GenericConfig" />
      <xsd:element name="WebAppSessionPolicy" type="dp:GenericConfig" />
      <xsd:element name="WebServiceMonitor" type="dp:GenericConfig" />
      <xsd:element name="WebServicesAgent" type="dp:GenericConfig" />
      <xsd:element name="UDDISubscription" type="dp:GenericConfig" />
      <xsd:element name="WSRRSavedSearchSubscription" type="dp:GenericConfig" />
      <xsd:element name="WSRRSubscription" type="dp:GenericConfig" />
      <xsd:element name="WebTokenService" type="dp:GenericConfig" />
      <xsd:element name="WSEndpointRewritePolicy" type="dp:GenericConfig" />
      <xsd:element name="WSRRServer" type="dp:GenericConfig" />
      <xsd:element name="WSStylePolicy" type="dp:GenericConfig" />
      <xsd:element name="XM70Persistence" type="dp:GenericConfig" />
      <xsd:element name="XMLManager" type="dp:GenericConfig" />
      <xsd:element name="xmltrace" type="dp:GenericConfig" />
      <xsd:element name="ZHybridTargetControlService" type="dp:GenericConfig" />
      <xsd:element name="ZosNSSClient" type="dp:GenericConfig" />
    </xsd:choice>
  </xsd:complexType>
<!-- ACTION OBJECTS -->
  <xsd:simpleType name="action-class">
    <xsd:restriction base="xsd:string">
      <xsd:enumeration value="AddKnownHost" />
      <xsd:enumeration value="AddPasswordMap" />
      <xsd:enumeration value="AddSelTestEntry" />
      <xsd:enumeration value="AddTrustedHost" />
      <xsd:enumeration value="ApplyPatch" />
      <xsd:enumeration value="AuthCookieCacheDelete" />
      <xsd:enumeration value="B2BArchiveNow" />
      <xsd:enumeration value="B2BEBMSStatusRequest" />
      <xsd:enumeration value="B2BGetDocument" />
      <xsd:enumeration value="B2BHAInitSecondary" />
      <xsd:enumeration value="B2BHASwitchPrimary" />
      <xsd:enumeration value="B2BMPCMsgDeleteDomain" />
      <xsd:enumeration value="B2BMPCMsgDeleteDomainAll" />
      <xsd:enumeration value="B2BMPCMsgDeleteId" />
      <xsd:enumeration value="B2BMPCMsgViewId" />
      <xsd:enumeration value="B2BResendTransaction" />
      <xsd:enumeration value="BackupConfig" />
      <xsd:enumeration value="BootDelete" />
      <xsd:enumeration value="BootSwitch" />
      <xsd:enumeration value="CacheSchema" />
      <xsd:enumeration value="CacheStylesheet" />
      <xsd:enumeration value="CacheWSDL" />
      <xsd:enumeration value="ChangePassword" />
      <xsd:enumeration value="ClearSel" />
      <xsd:enumeration value="ConvertCertificate" />
      <xsd:enumeration value="ConvertKey" />
      <xsd:enumeration value="CopyLocalTAMDb" />
      <xsd:enumeration value="CreateDir" />
      <xsd:enumeration value="CreateLunaClientCert" />
      <xsd:enumeration value="CreateTAMFiles" />
      <xsd:enumeration value="CryptoExport" />
      <xsd:enumeration value="CryptoHwDisable" />
      <xsd:enumeration value="CryptoImport" />
      <xsd:enumeration value="CryptoModeSet" />
      <xsd:enumeration value="DeleteFile" />
      <xsd:enumeration value="DeleteHSMKey" />
      <xsd:enumeration value="DeleteKnownHost" />
      <xsd:enumeration value="DeleteKnownHostTable" />
      <xsd:enumeration value="DeletePasswordMap" />
      <xsd:enumeration value="DeleteTrustedHost" />
      <xsd:enumeration value="DeviceCertificate" />
      <xsd:enumeration value="DisableEthernetHardwareOffload" />
      <xsd:enumeration value="DisableLinkAggregationHardwareOffload" />
      <xsd:enumeration value="DisableVLANHardwareOffload" />
      <xsd:enumeration value="Disconnect" />
      <xsd:enumeration value="DomainQuiesce" />
      <xsd:enumeration value="DomainUnquiesce" />
      <xsd:enumeration value="ebMS2Ping" />
      <xsd:enumeration value="ErrorReport" />
      <xsd:enumeration value="ExecConfig" />
      <xsd:enumeration value="FetchFile" />
      <xsd:enumeration value="FileCapture" />
      <xsd:enumeration value="FlushAAACache" />
      <xsd:enumeration value="FlushArpCache" />
      <xsd:enumeration value="FlushDNSCache" />
      <xsd:enumeration value="FlushDocumentCache" />
      <xsd:enumeration value="FlushGatewayScriptCache" />
      <xsd:enumeration value="FlushLDAPPoolCache" />
      <xsd:enumeration value="FlushNDCache" />
      <xsd:enumeration value="FlushNSSCache" />
      <xsd:enumeration value="FlushPDPCache" />
      <xsd:enumeration value="FlushRBMCache" />
      <xsd:enumeration value="FlushStylesheetCache" />
      <xsd:enumeration value="HNCancelCacheSearch" />
      <xsd:enumeration value="HNPurgeCache" />
      <xsd:enumeration value="HNPurgeCancel" />
      <xsd:enumeration value="HNResetCache" />
      <xsd:enumeration value="HNStartCacheSearch" />
      <xsd:enumeration value="HNStatsReset" />
      <xsd:enumeration value="HNUpdateMetaData" />
      <xsd:enumeration value="HSMCloneKWK" />
      <xsd:enumeration value="HSMSetRole" />
      <xsd:enumeration value="ImportExecute" />
      <xsd:enumeration value="ImportLunaClientCert" />
      <xsd:enumeration value="InitFibreChannelFilesystem" />
      <xsd:enumeration value="InitializeCompactFlashFilesystem" />
      <xsd:enumeration value="InitializeRaidVolumeFilesystem" />
      <xsd:enumeration value="InitializeRaidVolumeFilesystem2" />
      <xsd:enumeration value="InitializeRaidVolumeFilesystemEncryption" />
      <xsd:enumeration value="InitializeRaidVolumeFilesystemEncryptionMpt2Sas" />
      <xsd:enumeration value="InitializeRaidVolumeFilesystemNoEncryption" />
      <xsd:enumeration value="InitializeRaidVolumeFilesystemNoEncryptionMpt2Sas" />
      <xsd:enumeration value="InitializeRaidVolumeFilesystemVirtual" />
      <xsd:enumeration value="InitIScsiFilesystem" />
      <xsd:enumeration value="InvalidateDocumentCache" />
      <xsd:enumeration value="KerberosTicketDelete" />
      <xsd:enumeration value="Keygen" />
      <xsd:enumeration value="LinkAggregationPacketCapture" />
      <xsd:enumeration value="LinkAggregationStopPacketCapture" />
      <xsd:enumeration value="LLMDeleteTRVPolicyLedger" />
      <xsd:enumeration value="LLMDeleteTRVRouteLedger" />
      <xsd:enumeration value="LocateDevice" />
      <xsd:enumeration value="LunaHARecover" />
      <xsd:enumeration value="LunaHASync" />
      <xsd:enumeration value="LunaOTTUpdate" />
      <xsd:enumeration value="MoveFile" />
      <xsd:enumeration value="NoDebugAction" />
      <xsd:enumeration value="NoPasswordMap" />
      <xsd:enumeration value="OAuthCacheDelete" />
      <xsd:enumeration value="PacketCapture" />
      <xsd:enumeration value="PacketCaptureDebug" />
      <xsd:enumeration value="Ping" />
      <xsd:enumeration value="Quiesce" />
      <xsd:enumeration value="QuiesceDP" />
      <xsd:enumeration value="QuotaEnforcementSwitchMaster" />
      <xsd:enumeration value="RaidActivate" />
      <xsd:enumeration value="RaidChangeEncryptionSettings" />
      <xsd:enumeration value="RaidChangeEncryptionSettings2" />
      <xsd:enumeration value="RaidChangeEncryptionSettingsMpt2Sas" />
      <xsd:enumeration value="RaidDelete" />
      <xsd:enumeration value="RaidInitialize" />
      <xsd:enumeration value="RaidLearnBattery" />
      <xsd:enumeration value="RaidMakeHotSpare" />
      <xsd:enumeration value="RaidRebuild" />
      <xsd:enumeration value="RaidReconcileEncryptionSettings" />
      <xsd:enumeration value="RaidReconcileEncryptionSettings2" />
      <xsd:enumeration value="RaidReconcileEncryptionSettingsMpt2Sas" />
      <xsd:enumeration value="RateLimitConcurrentDeleteDomain" />
      <xsd:enumeration value="RateLimitConcurrentDeleteKey" />
      <xsd:enumeration value="RateLimitConcurrentDeleteType" />
      <xsd:enumeration value="RateLimitCountDeleteDomain" />
      <xsd:enumeration value="RateLimitCountDeleteKey" />
      <xsd:enumeration value="RateLimitCountDeleteType" />
      <xsd:enumeration value="RateLimitRateDeleteDomain" />
      <xsd:enumeration value="RateLimitRateDeleteKey" />
      <xsd:enumeration value="RateLimitRateDeleteType" />
      <xsd:enumeration value="RateLimitTokenBucketDeleteDomain" />
      <xsd:enumeration value="RateLimitTokenBucketDeleteKey" />
      <xsd:enumeration value="RateLimitTokenBucketDeleteType" />
      <xsd:enumeration value="RefreshDocument" />
      <xsd:enumeration value="RefreshStylesheet" />
      <xsd:enumeration value="RefreshTAMCerts" />
      <xsd:enumeration value="RefreshTAMKeystorePwd" />
      <xsd:enumeration value="RefreshWSDL" />
      <xsd:enumeration value="RemoveCheckpoint" />
      <xsd:enumeration value="RemoveDir" />
      <xsd:enumeration value="RemoveStylesheet" />
      <xsd:enumeration value="RepairCompactFlashFilesystem" />
      <xsd:enumeration value="RepairFibreChannelFilesystem" />
      <xsd:enumeration value="RepairIScsiFilesystem" />
      <xsd:enumeration value="RepairRaidVolumeFilesystem" />
      <xsd:enumeration value="Reserved152" />
      <xsd:enumeration value="ResetDomain" />
      <xsd:enumeration value="ResetThisDomain" />
      <xsd:enumeration value="RestartDomain" />
      <xsd:enumeration value="RestartThisDomain" />
      <xsd:enumeration value="RollbackCheckpoint" />
      <xsd:enumeration value="SaveCheckpoint" />
      <xsd:enumeration value="SaveConfig" />
      <xsd:enumeration value="SaveInternalState" />
      <xsd:enumeration value="SecureBackup" />
      <xsd:enumeration value="SecureRestore" />
      <xsd:enumeration value="SelectConfig" />
      <xsd:enumeration value="SendErrorReport" />
      <xsd:enumeration value="SendFile" />
      <xsd:enumeration value="SendLogEvent" />
      <xsd:enumeration value="ServiceQuiesce" />
      <xsd:enumeration value="ServiceStatusQuiesce" />
      <xsd:enumeration value="ServiceStatusUnquiesce" />
      <xsd:enumeration value="ServiceUnquiesce" />
      <xsd:enumeration value="SetLogLevel" />
      <xsd:enumeration value="SetRBMDebugLog" />
      <xsd:enumeration value="SetSystemVar" />
      <xsd:enumeration value="SetTimeAndDate" />
      <xsd:enumeration value="Shutdown" />
      <xsd:enumeration value="SLMResetStats" />
      <xsd:enumeration value="StandalonePacketCapture" />
      <xsd:enumeration value="StandaloneStopPacketCapture" />
      <xsd:enumeration value="StopPacketCapture" />
      <xsd:enumeration value="TCPConnectionTest" />
      <xsd:enumeration value="TestHardware" />
      <xsd:enumeration value="TestPasswordMap" />
      <xsd:enumeration value="TestRadius" />
      <xsd:enumeration value="TestURLMap" />
      <xsd:enumeration value="TestURLRefresh" />
      <xsd:enumeration value="TestURLRewrite" />
      <xsd:enumeration value="TestValidateSchema" />
      <xsd:enumeration value="TibcoRVCMRemoveListener" />
      <xsd:enumeration value="UnconfigureReverseProxy" />
      <xsd:enumeration value="UnconfigureReverseProxyInternal" />
      <xsd:enumeration value="UnconfigureRuntime" />
      <xsd:enumeration value="UndoConfig" />
      <xsd:enumeration value="UniversalPacketCaptureDebug" />
      <xsd:enumeration value="UniversalStopPacketCapture" />
      <xsd:enumeration value="Unquiesce" />
      <xsd:enumeration value="UnquiesceDP" />
      <xsd:enumeration value="UpgradeWatchdog" />
      <xsd:enumeration value="UserForcePasswordChange" />
      <xsd:enumeration value="UserResetFailedLogin" />
      <xsd:enumeration value="UserResetPassword" />
      <xsd:enumeration value="ValCredAddCertsFromDir" />
      <xsd:enumeration value="VerifyFirmware" />
      <xsd:enumeration value="VLANPacketCapture" />
      <xsd:enumeration value="VLANStopPacketCapture" />
      <xsd:enumeration value="WAXHNActivate" />
      <xsd:enumeration value="WsrrSynchronize" />
      <xsd:enumeration value="WsrrValidateServer" />
      <xsd:enumeration value="XC10ClearGrid" />
      <xsd:enumeration value="XC10CreateGrid" />
      <xsd:enumeration value="XC10DiscoverCollective" />
      <xsd:enumeration value="YieldEthernetStandby" />
      <xsd:enumeration value="YieldLinkAggregationStandby" />
      <xsd:enumeration value="YieldStandaloneStandby" />
      <xsd:enumeration value="YieldVLANStandby" />
    </xsd:restriction>
  </xsd:simpleType>
  <xsd:complexType name="GenericAction">
    <xsd:sequence>
      <xsd:any processContents="skip" minOccurs="0" maxOccurs="unbounded" />
    </xsd:sequence>
  </xsd:complexType>
  <xsd:complexType name="action-objects">
    <xsd:choice minOccurs="0" maxOccurs="unbounded">
      <xsd:element name="AddKnownHost" type="dp:GenericAction" />
      <xsd:element name="AddPasswordMap" type="dp:GenericAction" />
      <xsd:element name="AddSelTestEntry" type="dp:GenericAction" />
      <xsd:element name="AddTrustedHost" type="dp:GenericAction" />
      <xsd:element name="ApplyPatch" type="dp:GenericAction" />
      <xsd:element name="AuthCookieCacheDelete" type="dp:GenericAction" />
      <xsd:element name="B2BArchiveNow" type="dp:GenericAction" />
      <xsd:element name="B2BEBMSStatusRequest" type="dp:GenericAction" />
      <xsd:element name="B2BGetDocument" type="dp:GenericAction" />
      <xsd:element name="B2BHAInitSecondary" type="dp:GenericAction" />
      <xsd:element name="B2BHASwitchPrimary" type="dp:GenericAction" />
      <xsd:element name="B2BMPCMsgDeleteDomain" type="dp:GenericAction" />
      <xsd:element name="B2BMPCMsgDeleteDomainAll" type="dp:GenericAction" />
      <xsd:element name="B2BMPCMsgDeleteId" type="dp:GenericAction" />
      <xsd:element name="B2BMPCMsgViewId" type="dp:GenericAction" />
      <xsd:element name="B2BResendTransaction" type="dp:GenericAction" />
      <xsd:element name="BackupConfig" type="dp:GenericAction" />
      <xsd:element name="BootDelete" type="dp:GenericAction" />
      <xsd:element name="BootSwitch" type="dp:GenericAction" />
      <xsd:element name="CacheSchema" type="dp:GenericAction" />
      <xsd:element name="CacheStylesheet" type="dp:GenericAction" />
      <xsd:element name="CacheWSDL" type="dp:GenericAction" />
      <xsd:element name="ChangePassword" type="dp:GenericAction" />
      <xsd:element name="ClearSel" type="dp:GenericAction" />
      <xsd:element name="ConvertCertificate" type="dp:GenericAction" />
      <xsd:element name="ConvertKey" type="dp:GenericAction" />
      <xsd:element name="CopyLocalTAMDb" type="dp:GenericAction" />
      <xsd:element name="CreateDir" type="dp:GenericAction" />
      <xsd:element name="CreateLunaClientCert" type="dp:GenericAction" />
      <xsd:element name="CreateTAMFiles" type="dp:GenericAction" />
      <xsd:element name="CryptoExport" type="dp:GenericAction" />
      <xsd:element name="CryptoHwDisable" type="dp:GenericAction" />
      <xsd:element name="CryptoImport" type="dp:GenericAction" />
      <xsd:element name="CryptoModeSet" type="dp:GenericAction" />
      <xsd:element name="DeleteFile" type="dp:GenericAction" />
      <xsd:element name="DeleteHSMKey" type="dp:GenericAction" />
      <xsd:element name="DeleteKnownHost" type="dp:GenericAction" />
      <xsd:element name="DeleteKnownHostTable" type="dp:GenericAction" />
      <xsd:element name="DeletePasswordMap" type="dp:GenericAction" />
      <xsd:element name="DeleteTrustedHost" type="dp:GenericAction" />
      <xsd:element name="DeviceCertificate" type="dp:GenericAction" />
      <xsd:element name="DisableEthernetHardwareOffload" type="dp:GenericAction" />
      <xsd:element name="DisableLinkAggregationHardwareOffload" type="dp:GenericAction" />
      <xsd:element name="DisableVLANHardwareOffload" type="dp:GenericAction" />
      <xsd:element name="Disconnect" type="dp:GenericAction" />
      <xsd:element name="DomainQuiesce" type="dp:GenericAction" />
      <xsd:element name="DomainUnquiesce" type="dp:GenericAction" />
      <xsd:element name="ebMS2Ping" type="dp:GenericAction" />
      <xsd:element name="ErrorReport" type="dp:GenericAction" />
      <xsd:element name="ExecConfig" type="dp:GenericAction" />
      <xsd:element name="FetchFile" type="dp:GenericAction" />
      <xsd:element name="FileCapture" type="dp:GenericAction" />
      <xsd:element name="FlushAAACache" type="dp:GenericAction" />
      <xsd:element name="FlushArpCache" type="dp:GenericAction" />
      <xsd:element name="FlushDNSCache" type="dp:GenericAction" />
      <xsd:element name="FlushDocumentCache" type="dp:GenericAction" />
      <xsd:element name="FlushGatewayScriptCache" type="dp:GenericAction" />
      <xsd:element name="FlushLDAPPoolCache" type="dp:GenericAction" />
      <xsd:element name="FlushNDCache" type="dp:GenericAction" />
      <xsd:element name="FlushNSSCache" type="dp:GenericAction" />
      <xsd:element name="FlushPDPCache" type="dp:GenericAction" />
      <xsd:element name="FlushRBMCache" type="dp:GenericAction" />
      <xsd:element name="FlushStylesheetCache" type="dp:GenericAction" />
      <xsd:element name="HNCancelCacheSearch" type="dp:GenericAction" />
      <xsd:element name="HNPurgeCache" type="dp:GenericAction" />
      <xsd:element name="HNPurgeCancel" type="dp:GenericAction" />
      <xsd:element name="HNResetCache" type="dp:GenericAction" />
      <xsd:element name="HNStartCacheSearch" type="dp:GenericAction" />
      <xsd:element name="HNStatsReset" type="dp:GenericAction" />
      <xsd:element name="HNUpdateMetaData" type="dp:GenericAction" />
      <xsd:element name="HSMCloneKWK" type="dp:GenericAction" />
      <xsd:element name="HSMSetRole" type="dp:GenericAction" />
      <xsd:element name="ImportExecute" type="dp:GenericAction" />
      <xsd:element name="ImportLunaClientCert" type="dp:GenericAction" />
      <xsd:element name="InitFibreChannelFilesystem" type="dp:GenericAction" />
      <xsd:element name="InitializeCompactFlashFilesystem" type="dp:GenericAction" />
      <xsd:element name="InitializeRaidVolumeFilesystem" type="dp:GenericAction" />
      <xsd:element name="InitializeRaidVolumeFilesystem2" type="dp:GenericAction" />
      <xsd:element name="InitializeRaidVolumeFilesystemEncryption" type="dp:GenericAction" />
      <xsd:element name="InitializeRaidVolumeFilesystemEncryptionMpt2Sas" type="dp:GenericAction" />
      <xsd:element name="InitializeRaidVolumeFilesystemNoEncryption" type="dp:GenericAction" />
      <xsd:element name="InitializeRaidVolumeFilesystemNoEncryptionMpt2Sas" type="dp:GenericAction" />
      <xsd:element name="InitializeRaidVolumeFilesystemVirtual" type="dp:GenericAction" />
      <xsd:element name="InitIScsiFilesystem" type="dp:GenericAction" />
      <xsd:element name="InvalidateDocumentCache" type="dp:GenericAction" />
      <xsd:element name="KerberosTicketDelete" type="dp:GenericAction" />
      <xsd:element name="Keygen" type="dp:GenericAction" />
      <xsd:element name="LinkAggregationPacketCapture" type="dp:GenericAction" />
      <xsd:element name="LinkAggregationStopPacketCapture" type="dp:GenericAction" />
      <xsd:element name="LLMDeleteTRVPolicyLedger" type="dp:GenericAction" />
      <xsd:element name="LLMDeleteTRVRouteLedger" type="dp:GenericAction" />
      <xsd:element name="LocateDevice" type="dp:GenericAction" />
      <xsd:element name="LunaHARecover" type="dp:GenericAction" />
      <xsd:element name="LunaHASync" type="dp:GenericAction" />
      <xsd:element name="LunaOTTUpdate" type="dp:GenericAction" />
      <xsd:element name="MoveFile" type="dp:GenericAction" />
      <xsd:element name="NoDebugAction" type="dp:GenericAction" />
      <xsd:element name="NoPasswordMap" type="dp:GenericAction" />
      <xsd:element name="OAuthCacheDelete" type="dp:GenericAction" />
      <xsd:element name="PacketCapture" type="dp:GenericAction" />
      <xsd:element name="PacketCaptureDebug" type="dp:GenericAction" />
      <xsd:element name="Ping" type="dp:GenericAction" />
      <xsd:element name="Quiesce" type="dp:GenericAction" />
      <xsd:element name="QuiesceDP" type="dp:GenericAction" />
      <xsd:element name="QuotaEnforcementSwitchMaster" type="dp:GenericAction" />
      <xsd:element name="RaidActivate" type="dp:GenericAction" />
      <xsd:element name="RaidChangeEncryptionSettings" type="dp:GenericAction" />
      <xsd:element name="RaidChangeEncryptionSettings2" type="dp:GenericAction" />
      <xsd:element name="RaidChangeEncryptionSettingsMpt2Sas" type="dp:GenericAction" />
      <xsd:element name="RaidDelete" type="dp:GenericAction" />
      <xsd:element name="RaidInitialize" type="dp:GenericAction" />
      <xsd:element name="RaidLearnBattery" type="dp:GenericAction" />
      <xsd:element name="RaidMakeHotSpare" type="dp:GenericAction" />
      <xsd:element name="RaidRebuild" type="dp:GenericAction" />
      <xsd:element name="RaidReconcileEncryptionSettings" type="dp:GenericAction" />
      <xsd:element name="RaidReconcileEncryptionSettings2" type="dp:GenericAction" />
      <xsd:element name="RaidReconcileEncryptionSettingsMpt2Sas" type="dp:GenericAction" />
      <xsd:element name="RateLimitConcurrentDeleteDomain" type="dp:GenericAction" />
      <xsd:element name="RateLimitConcurrentDeleteKey" type="dp:GenericAction" />
      <xsd:element name="RateLimitConcurrentDeleteType" type="dp:GenericAction" />
      <xsd:element name="RateLimitCountDeleteDomain" type="dp:GenericAction" />
      <xsd:element name="RateLimitCountDeleteKey" type="dp:GenericAction" />
      <xsd:element name="RateLimitCountDeleteType" type="dp:GenericAction" />
      <xsd:element name="RateLimitRateDeleteDomain" type="dp:GenericAction" />
      <xsd:element name="RateLimitRateDeleteKey" type="dp:GenericAction" />
      <xsd:element name="RateLimitRateDeleteType" type="dp:GenericAction" />
      <xsd:element name="RateLimitTokenBucketDeleteDomain" type="dp:GenericAction" />
      <xsd:element name="RateLimitTokenBucketDeleteKey" type="dp:GenericAction" />
      <xsd:element name="RateLimitTokenBucketDeleteType" type="dp:GenericAction" />
      <xsd:element name="RefreshDocument" type="dp:GenericAction" />
      <xsd:element name="RefreshStylesheet" type="dp:GenericAction" />
      <xsd:element name="RefreshTAMCerts" type="dp:GenericAction" />
      <xsd:element name="RefreshTAMKeystorePwd" type="dp:GenericAction" />
      <xsd:element name="RefreshWSDL" type="dp:GenericAction" />
      <xsd:element name="RemoveCheckpoint" type="dp:GenericAction" />
      <xsd:element name="RemoveDir" type="dp:GenericAction" />
      <xsd:element name="RemoveStylesheet" type="dp:GenericAction" />
      <xsd:element name="RepairCompactFlashFilesystem" type="dp:GenericAction" />
      <xsd:element name="RepairFibreChannelFilesystem" type="dp:GenericAction" />
      <xsd:element name="RepairIScsiFilesystem" type="dp:GenericAction" />
      <xsd:element name="RepairRaidVolumeFilesystem" type="dp:GenericAction" />
      <xsd:element name="Reserved152" type="dp:GenericAction" />
      <xsd:element name="ResetDomain" type="dp:GenericAction" />
      <xsd:element name="ResetThisDomain" type="dp:GenericAction" />
      <xsd:element name="RestartDomain" type="dp:GenericAction" />
      <xsd:element name="RestartThisDomain" type="dp:GenericAction" />
      <xsd:element name="RollbackCheckpoint" type="dp:GenericAction" />
      <xsd:element name="SaveCheckpoint" type="dp:GenericAction" />
      <xsd:element name="SaveConfig" type="dp:GenericAction" />
      <xsd:element name="SaveInternalState" type="dp:GenericAction" />
      <xsd:element name="SecureBackup" type="dp:GenericAction" />
      <xsd:element name="SecureRestore" type="dp:GenericAction" />
      <xsd:element name="SelectConfig" type="dp:GenericAction" />
      <xsd:element name="SendErrorReport" type="dp:GenericAction" />
      <xsd:element name="SendFile" type="dp:GenericAction" />
      <xsd:element name="SendLogEvent" type="dp:GenericAction" />
      <xsd:element name="ServiceQuiesce" type="dp:GenericAction" />
      <xsd:element name="ServiceStatusQuiesce" type="dp:GenericAction" />
      <xsd:element name="ServiceStatusUnquiesce" type="dp:GenericAction" />
      <xsd:element name="ServiceUnquiesce" type="dp:GenericAction" />
      <xsd:element name="SetLogLevel" type="dp:GenericAction" />
      <xsd:element name="SetRBMDebugLog" type="dp:GenericAction" />
      <xsd:element name="SetSystemVar" type="dp:GenericAction" />
      <xsd:element name="SetTimeAndDate" type="dp:GenericAction" />
      <xsd:element name="Shutdown" type="dp:GenericAction" />
      <xsd:element name="SLMResetStats" type="dp:GenericAction" />
      <xsd:element name="StandalonePacketCapture" type="dp:GenericAction" />
      <xsd:element name="StandaloneStopPacketCapture" type="dp:GenericAction" />
      <xsd:element name="StopPacketCapture" type="dp:GenericAction" />
      <xsd:element name="TCPConnectionTest" type="dp:GenericAction" />
      <xsd:element name="TestHardware" type="dp:GenericAction" />
      <xsd:element name="TestPasswordMap" type="dp:GenericAction" />
      <xsd:element name="TestRadius" type="dp:GenericAction" />
      <xsd:element name="TestURLMap" type="dp:GenericAction" />
      <xsd:element name="TestURLRefresh" type="dp:GenericAction" />
      <xsd:element name="TestURLRewrite" type="dp:GenericAction" />
      <xsd:element name="TestValidateSchema" type="dp:GenericAction" />
      <xsd:element name="TibcoRVCMRemoveListener" type="dp:GenericAction" />
      <xsd:element name="UnconfigureReverseProxy" type="dp:GenericAction" />
      <xsd:element name="UnconfigureReverseProxyInternal" type="dp:GenericAction" />
      <xsd:element name="UnconfigureRuntime" type="dp:GenericAction" />
      <xsd:element name="UndoConfig" type="dp:GenericAction" />
      <xsd:element name="UniversalPacketCaptureDebug" type="dp:GenericAction" />
      <xsd:element name="UniversalStopPacketCapture" type="dp:GenericAction" />
      <xsd:element name="Unquiesce" type="dp:GenericAction" />
      <xsd:element name="UnquiesceDP" type="dp:GenericAction" />
      <xsd:element name="UpgradeWatchdog" type="dp:GenericAction" />
      <xsd:element name="UserForcePasswordChange" type="dp:GenericAction" />
      <xsd:element name="UserResetFailedLogin" type="dp:GenericAction" />
      <xsd:element name="UserResetPassword" type="dp:GenericAction" />
      <xsd:element name="ValCredAddCertsFromDir" type="dp:GenericAction" />
      <xsd:element name="VerifyFirmware" type="dp:GenericAction" />
      <xsd:element name="VLANPacketCapture" type="dp:GenericAction" />
      <xsd:element name="VLANStopPacketCapture" type="dp:GenericAction" />
      <xsd:element name="WAXHNActivate" type="dp:GenericAction" />
      <xsd:element name="WsrrSynchronize" type="dp:GenericAction" />
      <xsd:element name="WsrrValidateServer" type="dp:GenericAction" />
      <xsd:element name="XC10ClearGrid" type="dp:GenericAction" />
      <xsd:element name="XC10CreateGrid" type="dp:GenericAction" />
      <xsd:element name="XC10DiscoverCollective" type="dp:GenericAction" />
      <xsd:element name="YieldEthernetStandby" type="dp:GenericAction" />
      <xsd:element name="YieldLinkAggregationStandby" type="dp:GenericAction" />
      <xsd:element name="YieldStandaloneStandby" type="dp:GenericAction" />
      <xsd:element name="YieldVLANStandby" type="dp:GenericAction" />
    </xsd:choice>
  </xsd:complexType>
</xsd:schema>


