framework-common/src/main/xml/service-schema/STS/WSDL/V1.0/ws-trust.wsdl

<?xml version="1.0"?>
<wsdl:definitions targetNamespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512/wsdl"
	xmlns:tns="http://docs.oasis-open.org/ws-sx/ws-trust/200512/wsdl"
	xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
	xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<!-- this is the WS-I BP-compliant way to import a schema -->
	<wsdl:types>
		<xs:schema>
			<xs:import namespace="http://docs.oasis-open.org/ws-sx/ws-trust/200512/"
				schemaLocation="../../XSD/ws-trust-1.3.xsd"/>
		</xs:schema>
	</wsdl:types>
	<!-- WS-Trust defines the following GEDs -->
	<wsdl:message name="RequestSecurityTokenMsg">
		<wsdl:part name="request" element="wst:RequestSecurityToken"/>
	</wsdl:message>
	<wsdl:message name="RequestSecurityTokenResponseMsg">
		<wsdl:part name="response" element="wst:RequestSecurityTokenResponse"/>
	</wsdl:message>
	<wsdl:message name="RequestSecurityTokenResponseCollectionMsg">
		<wsdl:part name="responseCollection" element="wst:RequestSecurityTokenResponseCollection"/>
	</wsdl:message>
	<!-- This portType models the full request/response the Security Token  Service: -->
	<wsdl:portType name="WSSecurityRequestor">
		<wsdl:operation name="SecurityTokenResponse">
			<wsdl:input message="tns:RequestSecurityTokenResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="SecurityTokenResponse2">
			<wsdl:input message="tns:RequestSecurityTokenResponseCollectionMsg"/>
		</wsdl:operation>
		<wsdl:operation name="Challenge">
			<wsdl:input message="tns:RequestSecurityTokenResponseMsg"/>
			<wsdl:output message="tns:RequestSecurityTokenResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="Challenge2">
			<wsdl:input message="tns:RequestSecurityTokenResponseMsg"/>
			<wsdl:output message="tns:RequestSecurityTokenResponseCollectionMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="SecurityTokenRequestService">
		<wsdl:operation name="RequestSecurityToken">
			<wsdl:input message="tns:RequestSecurityTokenMsg"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:portType name="SecurityTokenService">
		<wsdl:operation name="RequestSecurityToken">
			<wsdl:input message="tns:RequestSecurityTokenMsg"/>
			<wsdl:output message="tns:RequestSecurityTokenResponseMsg"/>
		</wsdl:operation>
		<wsdl:operation name="RequestSecurityToken2">
			<wsdl:input message="tns:RequestSecurityTokenMsg"/>
			<wsdl:output message="tns:RequestSecurityTokenResponseCollectionMsg"/>
		</wsdl:operation>
	</wsdl:portType>
</wsdl:definitions>