framework-soa-esb/src/main/xml/service-schema/common/WarningMessages/V1.1/WarningMessages.xsd.bak

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:errcore="http://www.crimtrac.gov.au/Namespace/common/ErrorMessages/V1.1" xmlns:ewm="http://www.crimtrac.gov.au/Namespace/Common/WarningMessages/V1.1" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.crimtrac.gov.au/Namespace/Common/WarningMessages/V1.1" elementFormDefault="qualified" attributeFormDefault="qualified" version="1.0" xml:lang="en">
	<xs:import namespace="http://www.crimtrac.gov.au/Namespace/common/ErrorMessages/V1.1" schemaLocation="../../../common/ErrorMessages/V1.1/ErrorMessagesCore.xsd"/>
	<xs:annotation>
		<xs:appinfo>
      ****************************************************************
      * Creator = CT
      * Date= 2012-08-01
      * Title = Warnings Calling Schema
      * Subject = This XSD Schema define elements for Warnings based on the Common Core Error Message.
      * Contributor = Tanya Strausov
      * Publisher = CrimTrac
      ****************************************************************
    </xs:appinfo>
	</xs:annotation>
	<xs:element name="Warnings">
		<xs:complexType>
			<xs:sequence>
				<xs:element ref="ewm:Warning" maxOccurs="unbounded"/>
			</xs:sequence>
		</xs:complexType>
	</xs:element>
	<xs:complexType name="warningType">
		<xs:sequence>
			<xs:element ref="errcore:AdditionalDetailText" minOccurs="0"/>
			<xs:element ref="errcore:LocationText" minOccurs="0"/>
			<xs:element ref="errcore:DescriptionText"/>
			<xs:element ref="errcore:WarningCode"/>
			<xs:element ref="errcore:OriginatorLocation"/>
			<xs:element ref="errcore:OriginatorName"/>
		</xs:sequence>
	</xs:complexType>
	<xs:element name="Warning" type="ewm:warningType"/>
</xs:schema>
